<md-card>

  <md-card-title>

	   <md-card-title-text>
	     <span class="md-headline">Type | Industry | Customer</span>
	   </md-card-title-text>

  </md-card-title>

  <!-- PREVIEW Industry, Application Type, Customer Card  -->
  <md-content
  	ng-show="projectIndustry.disableIndustryCard"
    class="c-card-profile__preview">
    <md-subheader class="md-no-sticky"><b>Application Type:</b></md-subheader>
    <md-list layout="row" layout-wrap>

	      <md-list-item
	        flex="25"
	        class="md-2-line"
	        ng-repeat="item in projectIndustry.project.applicationTypes track by $index">

	        <div class="md-list-item-text" layout="column">
	          <h4>{{item.name}}</h4>
	        </div>

	      </md-list-item>
    </md-list>

  </md-content>

  <md-content
  	ng-show="projectIndustry.disableIndustryCard"
    class="c-card-profile__preview">
    <md-subheader class="md-no-sticky"><b>Industry:</b></md-subheader>
    <md-list layout="row" layout-wrap>

	      <md-list-item
	        flex="25"
	        class="md-2-line"
	        ng-repeat="item in projectIndustry.project.industries track by $index">

	        <div class="md-list-item-text" layout="column">
	          <h4>{{item.name}}</h4>
	        </div>

	      </md-list-item>
    </md-list>

  </md-content>

    <md-content
    	ng-show="projectIndustry.disableIndustryCard"
      class="c-card-profile__preview">
      <md-subheader class="md-no-sticky"><b>Customer:</b></md-subheader>
      <md-list layout="row" layout-wrap>

  	      <md-list-item
  	        flex="25"
  	        class="md-2-line"
  	        ng-repeat="item in projectIndustry.project.customers track by $index">

  	        <div class="md-list-item-text" layout="column">
  	          <h4>{{item.name}}</h4>
  	        </div>

  	      </md-list-item>
      </md-list>

    </md-content><!-- /PREVIEW Industry, Application Type, Customer Card -->

  <md-content
  	class="md-padding"
  	ng-hide="projectIndustry.disableIndustryCard">

<!-- Add / Remove Application Type -->
  <md-content class="md-padding">
    <md-list layout="row" layout-wrap>

     <md-list-item class="md-2-line c-filters__label">
        <div class="md-list-item-text " layout="column">
          <h4>Add/Remove Application Type: </h4>
        </div>
      </md-list-item>

      <md-list-item
        class="md-2-line"
        ng-repeat="item in projectIndustry.project.applicationTypes track by $index">
        <div class="md-list-item-text" layout="column">
          <p ng-click="projectIndustry.removeApp($index, item, projectIndustry.project)" class="c-filters__item">
            {{$index + 1}} {{item.name}}
            <span class="material-icons c-filters__icon">close</span>
          </p>
        </div>
      </md-list-item>
    </md-list>

    <form ng-submit="$event.preventDefault()">
      <md-autocomplete
        ng-model="projectIndustry.searchApp"
        md-no-cache="true"
        md-selected-item="projectIndustry.selectedApp"
        md-search-text-change="projectIndustry.searchTextChange(projectIndustry.searchApp)"
        md-search-text="projectIndustry.searchApp"
        md-selected-item-change="projectIndustry.addApp(item, projectIndustry.project)"
        md-items="item in projectIndustry.appSearch(projectIndustry.searchApp)"
        md-item-text="item.name"
        md-min-length="0"
        placeholder="Search for an application">
      <md-item-template >
        <span class="item-metadata">
          {{item.name}}
        </span>
      </md-item-template>
      </md-autocomplete>
    </form>
  </md-content><!-- /Add / Remove Application Type -->

<!-- Add / Remove Industry -->
  <md-content class="md-padding">
    <md-list layout="row" layout-wrap>

     <md-list-item class="md-2-line c-filters__label">
        <div class="md-list-item-text " layout="column">
          <h4>Add/Remove Industry: </h4>
        </div>
      </md-list-item>

      <md-list-item
        class="md-2-line"
        ng-repeat="item in projectIndustry.project.industries track by $index">
        <div class="md-list-item-text" layout="column">
          <p ng-click="projectIndustry.removeIndustry(item, projectIndustry.project, $index)" class="c-filters__item">
            {{$index + 1}} {{item.name}}
            <span class="material-icons c-filters__icon">close</span>
          </p>
        </div>
      </md-list-item>
    </md-list>

   <form ng-submit="$event.preventDefault()">
     <md-autocomplete
       md-no-cache="true"
       md-selected-item="projectIndustry.selectedIndustry"
       md-search-text-change="projectIndustry.searchTextChange(projectIndustry.searchIndustry)"
       md-search-text="projectIndustry.searchIndustry"
       md-selected-item-change="projectIndustry.addIndustry($index, item, projectIndustry.project)"
       md-items="item in projectIndustry.industrySearch(projectIndustry.searchIndustry)"
       md-item-text="item.name"
       md-min-length="0"
       placeholder="Search for an industry">
     <md-item-template >
       <span class="item-metadata">
         {{item.name}}
       </span>
     </md-item-template>
     </md-autocomplete>
   </form>
  </md-content><!-- /Add / Remove Industry  -->


  <!-- Add / Remove Customer -->
    <md-content class="md-padding">
      <md-list layout="row" layout-wrap>

       <md-list-item class="md-2-line c-filters__label">
          <div class="md-list-item-text " layout="column">
            <h4>Add/Remove Customer: </h4>
          </div>
        </md-list-item>

        <md-list-item
          class="md-2-line"
          ng-repeat="item in projectIndustry.project.customers track by $index">
          <div class="md-list-item-text" layout="column">
            <p ng-click="projectIndustry.removeCustomer(item, projectIndustry.project, $index)" class="c-filters__item">
              {{$index + 1}} {{item.name}}
              <span class="material-icons c-filters__icon">close</span>
            </p>
          </div>
        </md-list-item>
      </md-list>

    <form ng-submit="$event.preventDefault()">
      <md-autocomplete
        md-no-cache="true"
        md-selected-item="projectIndustry.selectedCustomer"
        md-search-text-change="projectIndustry.searchTextChange(projectIndustry.searchCustomer)"
        md-search-text="projectIndustry.searchCustomer"
        md-selected-item-change="projectIndustry.addCustomer(item, projectIndustry.project)"
        md-items="item in projectIndustry.customerSearch(projectIndustry.searchCustomer)"
        md-item-text="item.name"
        md-min-length="0"
        placeholder="Search for a customer">
      <md-item-template >
        <span class="item-metadata">
          {{item.name}}
        </span>
      </md-item-template>
      </md-autocomplete>
    </form>
    </md-content><!-- /Add / Remove Customer  -->
   </md-content>

    <!-- CARD ACTIONS -->
    <md-card-actions
      layout="column"
      layout-align="start"
      ng-show="projectIndustry.disableIndustryCard">
      <md-button
        class="c-card-profile__btn no-margin"
        ng-click="projectIndustry.disableIndustryCard = false">
        Add information
      </md-button>
    </md-card-actions>

    <md-card-actions
      layout="row"
      layout-align="center center"
      ng-show="!projectIndustry.disableIndustryCard"
      class="additional">

      <md-button
        class="md-raised md-primary"
        ng-click="projectIndustry.saveProject(projectIndustry.project)"
        ng-disabled="btnIsDisabled">
        Save
      </md-button>

      <md-button
        class="md-raised"
        ng-click="projectIndustry.disableIndustryCard = true">
        Cancel
      </md-button>

    </md-card-actions><!-- /CARD ACTIONS-->
</md-card>