<section layout="column">




  <!-- TITLE -->
  <md-toolbar
    class="md-table-toolbar md-default"
    layout="row"
    layout-align="space-between center">
    <div class="md-toolbar-tools">

      <div class="md-title">

        <span ng-show="!users.candidate">Employees</span>
        <span ng-show="users.candidate">Candidates</span>

        <md-button
          class="md-primary"
          label="Toggle filters"
          aria-label="Toggle filters"
          ng-click="users.toggleFilters()">
          <md-icon class="material-icons">filter_list</md-icon>
          <md-tooltip md-autohide="true">
            Toggle filters
          </md-tooltip>
        </md-button>
      </div>

      <div flex="" class="flex"></div>

      <div layout="row" layout-align="right">

        <md-button
          ng-show="users.candidate"
          class="md-primary"
          ng-click="users.showFormDialog($event, {})">
          {{users.addTitle}}
        </md-button>

      <!-- TODO Employee export CV -->
        <!-- <md-button
          class="md-primary"
          ng-csv="users.getArray()"
          csv-header="users.getHeader()"
          filename="Raportusers.csv">
          Export in CSV
        </md-button> -->

      </div>

    </div>
  </md-toolbar><!-- /TITLE -->




  <md-divider class="md-padding divider-bold u-no-padding"></md-divider>

  <!-- AUTOCOMPLETE SEARCH -->
  <md-content class="md-padding">
    <form ng-submit="$event.preventDefault()">
      <md-autocomplete
        ng-disabled="users.isDisabled"
        ng-model="users.searchText"
        md-selected-item="users.selectedItem"
        md-search-text-change="users.querySearch(users.searchText, users.users)"
        md-search-text="users.searchText"
        md-selected-item-change="users.selectedItemChange(item)"
        md-items="item in users.querySearch(users.searchText, users.users)"
        md-item-text="item.first_name + ' ' +  item.last_name"
        md-min-length="1"
        placeholder="Search">

        <md-item-template>
          <span class="item-metadata">
            {{item.first_name}} {{item.last_name}}
        </md-item-template>
        <md-not-found>
          No employee matching <strong>{{users.searchText}}</strong> were found.
        </md-not-found>
      </md-autocomplete>
    </form>
  </md-content><!-- /AUTOCOMPLETE SEARCH -->




  <!-- SELECTED ROWS -->
  <md-toolbar
    class="md-table-toolbar alternate"
    ng-show="users.tableSettings.options.rowSelection && users.tableSettings.selected.length">
    <div class="md-toolbar-tools">
      <span>
        {{users.tableSettings.selected.length}} {{users.tableSettings.selected.length > 1 ? 'employees' : 'employee'}} selected
      </span>
    </div>
  </md-toolbar><!-- /SELECTED ROWS -->




  <!-- ALL FILTERS -->
  

  <hra-users-filters></hra-users-filters>
<!-- / ALL FILTERS -->

  <md-divider class="md-padding divider-bold u-no-padding"></md-divider>




  <!-- TABLE EMPLOYEES -->
  <md-table-container>
    <table
      class="c-table--actions c-table--big table-employees"
      md-table
      md-row-select="users.tableSettings.options.rowSelection"
      multiple="{{users.tableSettings.options.multiSelect}}"
      ng-model="users.tableSettings.selected"
      md-progress="promise">

      <thead
        ng-if="!users.tableSettings.options.decapitate"
        md-head
        md-order="users.tableSettings.query.order">
        <tr md-row>
        <th md-column>Nr.</th>
          <th md-column md-order-by="first_name">First Name</th>
          <th md-column md-order-by="last_name">Last Name</th>
          <th md-column>Email/Phone</th>
          <th md-column>Languages</th>
          <th md-column>Technologies</th>
          <th md-column>Projects</th>
          <!-- <th md-column>Last update</th> -->
          <th md-column>Actions</th>
        </tr>
      </thead>

      <tbody md-body>
        <tr
          md-row
          md-select="employee"
          md-on-select="logItem"
          ng-repeat="employee in users.users 
          | filter: users.searchText 
          | orderBy: users.tableSettings.query.order 
          | limitTo: users.tableSettings.query.limit : (users.tableSettings.query.page - 1) * users.tableSettings.query.limit track by $index">
          <td md-cell>
            {{$index + 1}}
          </td>
          <td md-cell>
            <p>{{employee.first_name}}</p>
          </td>

          <td md-cell>
            <p>{{employee.last_name}}</p>
          </td>

          <td md-cell>
            <p>{{employee.email}}</p>
            <p>{{employee.phone}}</p>
          </td>

          <td md-cell>
            <ul class="c-list" ng-if="employee.languages">
              <li ng-repeat="language in employee.languages">
                {{$index + 1}}. {{language.long_name}}
              </li>
            </ul>
          </td>

          <td md-cell>
            <ul class="c-list" ng-if="employee.technologies">
              <li ng-repeat="technologies in employee.technologies">
                {{$index + 1}}. {{technologies.name}}
              </li>
            </ul>
          </td>

          <td md-cell ng-hide="employee.candidate">
            <ul class="c-list" ng-if="employee.projects">
              <li ng-repeat="project in employee.projects">
                {{$index + 1}}. {{project.name}}
              </li>
            </ul>
          </td>

          <!-- <td md-cell ng-hide="employee.candidate">
            {{employee.updatedAt | date: longDate}}
          </td> -->

          <td md-cell>

            <md-button
              ng-hide="users.candidate"
              class="md-icon-button md-primary"
              label="View employee details"
              aria-label="View employee details"
              ui-sref="employeesParent.details({id: employee.id})">
              <md-icon class="material-icons">visibility</md-icon>
              <md-tooltip md-autohide="true">
                View employee details
              </md-tooltip>
            </md-button>

            <!-- <md-button
              ng-show="users.candidate"
              class="md-icon-button md-primary"
              label="View candidate details"
              aria-label="View candidate details"
              ui-sref="candidateParent.details({id: employee.id})">
              <md-icon class="material-icons">visibility</md-icon>
              <md-tooltip md-autohide="true">
                View candidate details
              </md-tooltip>
            </md-button> -->

            <!-- <md-button
              ng-show="users.candidate"
              class="md-icon-button md-primary"
              label="Conver to employee"
              aria-label="Conver to employee"
              ng-click="users.sendToEmployee(employee, $index)">
              <md-icon class="material-icons">send</md-icon>
              <md-tooltip md-autohide="true">
                Convert to employee
              </md-tooltip>
            </md-button> -->

            <!-- <md-button
              class="md-icon-button md-warn"
              label="{{users.candidate ? 'Remove candidate' : 'Remove employee'}}"
              aria-label="{{users.candidate ? 'Remove candidate' : 'Remove employee'}}"
              ng-click="users.remove( employee, $event, $index)">
              <md-icon class="material-icons">delete</md-icon>
              <md-tooltip md-autohide="true">
                <span ng-show="!users.candidate">Remove employee</span>
                <span ng-show="users.candidate">Remove candidate</span>
              </md-tooltip>
            </md-button> -->

          </td>

        </tr>
      </tbody>

    </table>
  </md-table-container><!-- /TABLE EMPLOYEES -->





   <!-- TABLE PAGINATION -->
  <hra-table-pagination settings="users.tableSettings">
  <hra-table-pagination>
  <!-- /TABLE PAGINATION -->




  <!-- TEMPLATES -->
  <script type="text/ng-template" id="employeeForm.tmpl.html">
    <hra-employee-form
      md-whiteframe='6'
      employees=empoloyeeM.employees
      employee=empoloyeeM.employee
      employee-index="empoloyeeM.employeeIndex"
      form-title="empoloyeeM.formTitle"
      candidate = empoloyeeM.candidate
      aria-label="Form">
    </hra-employee-form>
  </script>




  <script type="text/ng-template" id="employeeJsonForm.tmpl.html">
    <section layout="column">

      <md-toolbar class="md-table-toolbar">
        <div class="md-toolbar-tools ">
          Add employees from JSON
        </div>
      </md-toolbar>

      <section class="md-padding">

        <form name="employeejsonform" class="form md-inline-form">
          <textarea class="save-from-json" ng-model="empoloyeeJsonM.json" placeholder="Paste json here">
          </textarea>
        </form>

        <!-- Actions buttons -->
        <div layout="row" layout-align="center center">

          <md-button
            class="md-raised md-primary"
            ng-click="empoloyeeJsonM.saveFromJson(empoloyeeJsonM.json)">
            Save
          </md-button>

          <md-button
            class="md-raised md-primary"
            ng-click="empoloyeeJsonM.clearFields()">
            Clear
          </md-button>

          <md-button
            class="md-raised"
            ng-click="empoloyeeJsonM.closeDialog()">
            Close
          </md-button>

        </div><!-- /Actions buttons -->

      </section>

    </section>
  </script>
  <!-- /TEMPLATES -->

</section>


