<section class="requiest-vacation page show-print">

    <img ng-src="/assets/images/logo-assist.png" style="max-width: 15%;" class="hide-print" />
<div style="position: absolute;" class="hide-print">
    <button class="md-button  md-primary md-no-ink"
      label="View Holiday"
      aria-label="View Holiday"
      ng-click="holidayDetails.print();">
      <md-icon class="material-icons">print</md-icon>
      <span>Print vacation request</span>
    </button>
</div>        
    <h1 style="text-align: center; font-size: 26px; text-decoration: underline">Cerere pentru concediu de odihnă</h1>
    <p>Stimate Domnule Director,</p>
    <p>
        Subsemnatul
        <strong>{{holidayDetails.holidayPaper[0].firstName}} {{holidayDetails.holidayPaper[0].lastName}}</strong>,
        angajat al firmei SC ASSIST Software SRL, vă rog să-mi aprobaţi
        <strong>{{holidayDetails.holidayPaper[0].holidays}}</strong>

        <span ng-if="holidayDetails.holidayPaper[0].holidays === 1">zi</span>
        <span ng-if="holidayDetails.holidayPaper[0].holidays > 1">zile</span>
        din concediul de odihnă

        <span ng-if="holidayDetails.holidayPaper[0].holidays === 1">aferentă</span>
        <span ng-if="holidayDetails.holidayPaper[0].holidays > 1">aferente</span> anului

        <span ng-if="holidayDetails.holidayPaper[0].signing">{{holidayDetails.holidayPaper[0].signing | date: 'yyyy'}}</span>
        <span ng-if="!holidayDetails.holidayPaper[0].signing">{{today | date: 'yyyy'}}</span>

        <span ng-if="holidayDetails.holidayPaper[0].holidays > 1">în intervalul
            <span>
                <strong>{{holidayDetails.holidayPaper[0].startDate | date: 'dd.MM.yyyy'}} - {{holidayDetails.holidayPaper[0].endDate | date: 'dd.MM.yyyy'}}</strong>
            </span>.
        </span>
        <span ng-if="holidayDetails.holidayPaper[0].holidays === 1">în data de <span>
            <strong>{{holidayDetails.holidayPaper[0].startDate | date: 'dd.MM.yyyy'}}</strong>
        </span>.
        </span>
    </p>

    <p style="text-align: left">Vă mulțumesc.</p>

    <table style="width: 100%; border: 1px solid #000; border-collapse: collapse;">
        <tr>
            <td style="border-right:1px solid #000; padding-left:5px;">
                <p style="text-align: left">Cu considerație,</p>
                <p style="text-align: left">
                    <strong>{{holidayDetails.holidayPaper[0].firstName}} {{holidayDetails.holidayPaper[0].lastName}}</strong>
                </p>
                <p style="text-align: left">Semnătura, </p>
                <p style="text-align: left">
                    Data:
                    <strong ng-if="holidayDetails.holidayPaper[0].signing">
                        {{holidayDetails.holidayPaper[0].signing | date: 'dd.MM.yyyy'}}
                    </strong>
                    <strong ng-if="!holidayDetails.holidayPaper[0].signing">
                        {{today | date: 'dd.MM.yyyy'}}
                    </strong>
                </p>
            </td>
            <td style="padding-left:5px; vertical-align: baseline;">
                <p>
                    <strong>
                        APROBAT,
                    </strong>
                </p>
                <p>Gheorghe DAVID</p>
            </td>
        </tr>
    </table>

    <h4><strong>Mențiuni</strong></h4>

    <p><strong>1.</strong> Task-urile din proiectele la care sunt implicat vor fi preluate de:</p>
    <table style="border: 1px solid #000; width:100%; border-collapse: collapse;">
        <thead style="border:1px solid #000;">
            <tr style="border: 1px solid #000;">
                <th style="border:1px solid #000;">Proiect</th>
                <th style="border:1px solid #000;">Înlocuitor</th>
                <th style="border:1px solid #000;">Semnătura înlocuitorului</th>
            </tr>
        </thead>
        <tbody ng-repeat="replace in holidayDetails.holidayRep">
            <tr style="border:1px solid #000; text-align: center;">
                <td style="border:1px solid #000;">
                    {{replace.project_name}}
                </td>
                <td style="border:1px solid #000;">
                    {{replace.replacer_name}}
                </td>
                <td style="border:1px solid #000;">

                </td>
            </tr>
        </tbody>
    </table>

    <p>
        <strong>2.</strong> Am luat notă de cererea de concediu și confirm că avem la dispoziție toate elementele de acces, resursele și informațiile necesare derulării corespunzătoare a proiectelor în care colegul meu, solicitant al prezentei cereri, este implicat.
    </p>
    <p>
        Team leader<span ng-if="holidayDetails.holidayRep.length > 1">s</span>,
        <br />
        <strong ng-repeat="leader in holidayDetails.leaders track by $index">
            {{leader}}<span ng-show="({{$index}} != holidayDetails.leaders.length-1)">,</span>
        </strong>
    </p>

    <p>Semnătura:</p>
    <p>
        Data:
        <strong ng-if="holidayDetails.holidayPaper[0].signing">
            {{holidayDetails.holidayPaper[0].signing | date: 'dd.MM.yyyy'}}
        </strong>
        <strong ng-if="!holidayDetails.holidayPaper[0].signing">
            {{today | date: 'dd.MM.yyyy'}}
        </strong>
    </p>

</section>
