<md-content
  class="c-filters md-padding"
  ng-show="projects.showFilters">



  <md-button
    class="md-warn"
    label="Reset all filters"
    aria-label="Reset all filters"
    ng-click="projects.resetFilters()">
    <md-icon class="material-icons">autorenew</md-icon>
    Reset filters
    <md-tooltip md-autohide="true">
      Reset all filters
    </md-tooltip>
  </md-button>



  <section layout="row" layout-align="left center" class="md-padding">
    <p>Filter by technologies: </p>
    <md-chips
      ng-model="projects.filters.technologies"
      md-on-remove="projects.filterProjects(projects.filterType.remove)"
      md-on-add="projects.filterProjects(projects.filterType.add)"
      md-require-match=true>
      <md-autocomplete
        md-search-text="projects.search.technologies"
        md-items="item in projects.querySearch(projects.search.technologies, projects.resources.technologies)"
        md-item-text="item.name"
        placeholder="technology">
        <span md-highlight-text="projects.search.technologies">
          {{item.name}}
        </span>
      </md-autocomplete>
      <md-chip-template>
        <span>
          <em>({{$chip.name}})</em>
        </span>
      </md-chip-template>
    </md-chips>
  </section>



  <section layout="row" layout-align="left center" class="md-padding">
    <p>Filter by industries:</p>
    <md-chips
      ng-model="projects.filters.industries"
      md-autocomplete-snap=""
      md-on-remove="projects.filterProjects(projects.filterType.remove)"
      md-on-add="projects.filterProjects(projects.filterType.add)"
      md-require-match=true>
      <md-autocomplete
        md-search-text="projects.search.industries"
        md-items="item in projects.querySearch(projects.search.industries, projects.resources.industries)"
        md-item-text="item.name"
        placeholder="industry">
        <span md-highlight-text="projects.search.industries">
          {{item.name}}
        </span>
      </md-autocomplete>
      <md-chip-template>
        <span>
          <em>({{$chip.name}})</em>
        </span>
      </md-chip-template>
    </md-chips>
  </section>



  <section layout="row" layout-align="left center" class="md-padding">
    <p>Filter by customers:</p>
    <md-chips
      ng-model="projects.filters.customers"
      md-autocomplete-snap=""
      md-on-remove="projects.filterProjects(projects.filterType.remove)"
      md-on-add="projects.filterProjects(projects.filterType.add)"
      md-require-match=true>
      <md-autocomplete
        md-search-text="projects.search.customers"
        md-items="item in projects.querySearch(projects.search.customers, projects.resources.customers)"
        md-item-text="item.name"
        placeholder="customer">
        <span md-highlight-text="projects.search.customers">
          {{item.name}}
        </span>
      </md-autocomplete>
      <md-chip-template>
        <span>
          <em>({{$chip.name}})</em>
        </span>
      </md-chip-template>
    </md-chips>
  </section>



</md-content>
