
// @INPUT
// Normal input
md-input-container
  label
    color: $hr-input-label-color 

  .md-input
    box-sizing: border-box
    border: 1px solid $hr-input-border-color
    color: $hr-input-color
    padding: 0 10px !important
    min-height: 40px
    font-size: 15px

  &.md-input-focused
    label
      color: $hr-input-focused-color !important
    .md-input
      border-color: $hr-input-focused-color !important

[md-no-float]
  label
    position: static !important
    margin-bottom: 5px !important
    font-size: 15px 
    transform: none !important
    display: block !important



// @SELECT
// Normal input

md-select
  font-size: 15px
  md-select-value
    box-sizing: border-box
    border: 1px solid $hr-input-border-color !important
    padding: 0 10px !important
    height: 40px
    font-size: 15px

.input-select
  &.md-input-has-value,
  &.md-input-focused
    label
      opacity: 0 !important

.required-input:after
  content: '*'



// @AUTOCOMPLETE
.input-autocomplete
  input
    border: none !important

md-input-container.md-input-focused:not([md-no-float]) .md-select-placeholder span:first-child
  transform: translateY(-26px) translateX(9px) scale(0.75)

md-autocomplete
  background-color: transparent
  font-size: 15px !important
  min-width: 180px
  input
    font-size: inherit !important

md-autocomplete-wrap
  box-shadow: none !important
  border: 1px solid $hr-input-border-color !important
  background-color: transparent !important

.md-chip-input-container
  md-autocomplete-wrap
    border: none !important

.show-scroll-right
  overflow-y: scroll
