<section class="c-section">

    <hra-card
      hra-project-general
      class="c-card-profile"
      md-whiteframe="6"
      query-search="card.querySearch"
      settings="card.settings">
    </hra-card>


    <hra-card
      hra-project-technologies
      class="c-card-profile"
      md-whiteframe="6"
      query-search="card.querySearch"
      settings="card.settings">
    </hra-card>


    <hra-card
      hra-project-industries
      class="c-card-profile"
      md-whiteframe="6"
      toggle-form="card.toggleForm"
      query-search="card.querySearch"
      settings="card.settings">
    </hra-card>


    <hra-card
      hra-project-customers
      class="c-card-profile"
      md-whiteframe="6"
      toggle-form="card.toggleForm"
      query-search="card.querySearch"
      settings="card.settings">
    </hra-card>


    <hra-card
      hra-project-app-types
      class="c-card-profile"
      md-whiteframe="6"
      query-search="card.querySearch"
      settings="card.settings">
    </hra-card>


    <hra-card
      hra-project-employees
      class="c-card-profile"
      md-whiteframe="6"
      query-search="card.querySearch"
      settings="card.settings">
    </hra-card>

</section>
