<md-card>



    <md-card-title>
        <md-card-title-text>
       <span class="md-headline">
        Devices
      </span>
        </md-card-title-text>
    </md-card-title>





  <!-- CARD NOTES -->
  <md-content class="c-card-profile__notes">
    <p>
      <strong>NOTE: </strong>Complete here with the devices that you are using.
    </p>
  </md-content>
  <!-- CARD NOTES -->

  <md-content class="c-card-profile__notes"
    ng-if="!userDevices.userDevices.length > 0">
    <p>
      <strong>You not have any device added.</strong>
    </p>
  </md-content>





    <!-- PREVIEW  -->
    <md-content
      ng-show="!userDevices.showForm"
      class="c-card-profile__preview">

      <md-list layout-gt-xs="row" layout-wrap>
        <md-list-item
          flex-gt-xs="50"
          class="md-2-line projects-list"
          ng-repeat="device in userDevices.userDevices track by $index">

          <div class="md-list-item-text" layout="column">

            <h3 class="u-mb-10">
              <strong>{{device.device_name}}</strong>
              <span>
                <md-button
                  class="md-icon-button md-primary"
                  label="View device details"
                  aria-label="View device details"
                  ng-click="userDevices.editDevice(device)">
                  <md-icon class="material-icons">visibility</md-icon>
                  <md-tooltip md-autohide="true">
                    View device details
                  </md-tooltip>
                </md-button>
              </span>

              <span>
                <md-button
                  class="md-fab md-mini md-warn c-card-group__remove"
                  label="delete"
                  aria-label="delete"
                  ng-click="userDevices.deleteDevice(device, $event)">
                    <md-icon class="material-icons">delete</md-icon>
                    <md-tooltip>DELETE</md-tooltip>
                </md-button>
              </span>
            </h3>

            <p>
              <strong>Comonents :</strong>
            </p>

            <p  ng-repeat="component in device.components track by $index">
             {{component.name}}
            </p>
          </div>

        </md-list-item>
      </md-list>

    </md-content>
    <!-- /PREVIEW -->





    <!-- EDIT -->
  <form ng-submit="$event.preventDefault()"  name="deviceForm">
    <md-content
      class="md-padding"
      ng-show="userDevices.showForm">

      <section layout-gt-xs="row">
        <!-- DEVICE -->
        <md-input-container md-no-float class="md-block" flex-gt-xs="">
          <label>Device (i.e Desktop / Laptop)</label>
          <input
            ng-model="userDevices.deviceName"
            ng-disabled="userDevices.editedDevice"
            ng-required="!userDevices.deviceName"
            ng-keyup="userDevices.disableSaveBtn=false"
            name="deviceName">

            <div ng-messages="deviceForm.deviceName.$invalid && deviceForm.deviceName.$error">
            <div ng-message="required">Device field is required</div>
          </div>
        </md-input-container>
        <!-- /DEVICE -->

        <!-- SERIAL -->
        <!-- TODO backend for Serial number -->
        <md-input-container md-no-float class="md-block" flex-gt-xs="">
          <label>Device Serial No.</label>
          <input
            ng-model="userDevices.serial_number"
            ng-keyup="userDevices.disableSaveBtn=false">
        </md-input-container>
        <!-- /SERIAL -->
      </section>





      <p ng-show="userDevices.userComponents.length > 0" class="u-mb-10">
        <strong>
          On this devices I have following components:
        </strong>
      </p>



      <!-- COMPONENTS -->
      <md-list layout="row" layout-wrap layout-align="left center">
        <md-list-item
          class="md-2-line"
          ng-repeat="component in userDevices.userComponents track by $index">
          <div class="md-list-item-text" layout="column">
            <p class="c-filters__item"
              ng-click="userDevices.removeFromQueue(component)" >
              {{$index + 1}} {{component.name}}
              <span class="material-icons c-filters__icon">close</span>
            </p>
          </div>
        </md-list-item>
      </md-list>

      <section
        flex="100"
        layout-gt-xs="row"
        ng-show="userDevices.componentAutocomplete">

        <!-- COMPONENTS AUTOCOMPLETE -->
        <div class="md-block" flex-gt-xs="100">

          <label>Components </label>

            <md-autocomplete
              md-search-text-change="userDevices.searchTextChange(userDevices.searchComponent)"
              md-selected-item-change="userDevices.addInQueue(item); userDevices.changeMinLength()"
              md-search-text="userDevices.searchComponent"
              md-items="item in userDevices.querySearch(userDevices.searchComponent, userDevices.components)"
              md-item-text="item.name"
              md-min-length="userDevices.minLength"
              placeholder="Search Component"
              md-input-name="autocompleteComponents">

            <md-item-template>
                <span
                class="item-metadata"
                md-highlight-text="userDevices.searchComponent">
                  {{item.name}}
                </span>
              </md-item-template>
            </md-autocomplete>

        </div>
        <!-- /COMPONENTS AUTOCOMPLETE -->

      </section>
      <!-- /COMPONENTS -->




      <section
        class="md-padding">
        <md-button
          md-no-ink
          class="md-primary small-text"
          ng-show="!userDevices.componentAutocomplete"
          ng-click="userDevices.addComponents()">
          Add New Components
        </md-button>
      </section>


    </md-content>
    <!-- /EDIT -->



    <!-- CARD ACTIONS-->
    <md-card-actions
      layout="column"
      layout-align="start"
      ng-show="!userDevices.showForm">
      <md-button
        class="c-card-profile__btn no-margin"
        ng-click="userDevices.toggleForm()">
        Add/Edit devices
      </md-button>
    </md-card-actions>

    <md-card-actions
      layout="row"
      layout-align="center center"
      ng-show="userDevices.showForm"
      class="additional">

      <md-button
        class="md-raised md-primary"
        ng-click="userDevices.save()"
        ng-disabled="deviceForm.$invalid || userDevices.disableSaveBtn">
        Save
      </md-button>

      <md-button
        class="md-raised"
        ng-click="userDevices.cancel()">
        Cancel
      </md-button>

    </md-card-actions>
    <!-- /CARD ACTIONS-->
  </form>


</md-card>
