<md-card>

  <md-card-title>

	   <md-card-title-text>
	     <span class="md-headline">Technology</span>
	   </md-card-title-text>

  </md-card-title>

  <!-- PREVIEW TECHNOLOGY CARD -->
  <md-content
  	ng-show="projectTechnology.disableITechnologyCard"
    class="c-card-profile__preview">
    <md-list layout="row" layout-wrap>

	      <md-list-item
	        flex="25"
	        class="md-2-line"
	        ng-repeat="item in projectTechnology.project.technologies track by $index">

	        <div class="md-list-item-text" layout="column">
	          <h4>{{item.label}}</h4>
	        </div>

	      </md-list-item>
    </md-list>

  </md-content><!-- /PREVIEW TECHNOLOGY CARD -->



   <md-content
   		class = "md-padding"
   		ng-hide = "projectTechnology.disableITechnologyCard">
      <md-list layout="row" layout-wrap>

      	<md-list-item class="md-2-line c-filters__label">
      	   <div class="md-list-item-text " layout="column">
      	     <h4>Add/Remove Technology: </h4>
      	   </div>
      	 </md-list-item>

      	 <md-list-item
      	   class="md-2-line"
      	   ng-repeat="item in projectTechnology.project.technologies track by $index">
      	   <div class="md-list-item-text" layout="column">
      	     <p ng-click="projectTechnology.removeTechnology(item, projectTechnology.project, $index)" class="c-filters__item">
      	       {{$index + 1}} {{item}}
      	       <span class="material-icons c-filters__icon">close</span>
      	     </p>
      	   </div>
      	 </md-list-item>

      </md-list>


      <form ng-submit="$event.preventDefault()">
        <md-autocomplete
          ng-model="projectTechnology.searchTech"
          md-no-cache="true"
          md-selected-item="projectTechnology.selectTech"
          md-search-text-change="projectTechnology.searchTextChange(projectTechnology.searchTech)"
          md-search-text="projectTechnology.searchTech"
          md-selected-item-change="projectTechnology.addTechnology(item, projectTechnology.project)"
          md-items="item in projectTechnology.technologySearch(projectTechnology.searchTech)"
          md-item-text="item.label"
          md-min-length="0"
          placeholder="Search for a technology">
        <md-item-template >
          <span class="item-metadata">
            {{item.label}}
          </span>
        </md-item-template>
        </md-autocomplete>
      </form>
    </md-content>

     <!-- CARD ACTIONS-->
    <md-card-actions
      layout="column"
      layout-align="start"
      ng-show="projectTechnology.disableITechnologyCard">
      <md-button
        class="c-card-profile__btn no-margin"
        ng-click="projectTechnology.disableITechnologyCard = false">
        Add information
      </md-button>
    </md-card-actions>

    <md-card-actions
      layout="row"
      layout-align="center center"
      ng-show="!projectTechnology.disableITechnologyCard"
      class="additional">

      <md-button
        class="md-raised md-primary"
        ng-click="projectTechnology.saveProject(projectTechnology.project)"
        ng-disabled="btnIsDisabled">
        Save
      </md-button>

      <md-button
        class="md-raised"
        ng-click="projectTechnology.disableITechnologyCard = true">
        Cancel
      </md-button>

    </md-card-actions><!-- /CARD ACTIONS-->
</md-card>