<md-content
  class="c-filters md-padding"
  ng-show="users.showFilters">



  <md-button
    class="md-warn"
    label="Reset all filters"
    aria-label="Reset all filters"
    ng-click="users.resetFilters()">
    <md-icon class="material-icons">autorenew</md-icon>
    Reset filters
    <md-tooltip md-autohide="true">
      Reset all filters
    </md-tooltip>
  </md-button>


  <md-button
    class="md-primary"
    label="Reset all filters"
    aria-label="Reset all filters"
    ng-click="users.search()">
    <md-icon class="material-icons">search</md-icon>
    Filter users
    <md-tooltip md-autohide="true">
      Reset all filters
    </md-tooltip>
  </md-button>


  <!-- FILTER BY PROJECT -->  
  <section layout="row" layout-align="left center" class="md-padding">
    <p>Filter by projects:</p>
    <md-chips
      ng-model="users.filters.projects"
      md-autocomplete-snap=""
      md-require-match=true>
      <md-autocomplete
        md-search-text="users.search.projects"
        md-items="item in users.querySearch(users.search.projects, users.resources.projects)"
        md-item-text="item.name"
        placeholder="Project">
        <span md-highlight-text="users.search.projects">
          {{item.name}}
        </span>
      </md-autocomplete>
      <md-chip-template>
        <span>
          <em>({{$chip.name}})</em>
        </span>
      </md-chip-template>
    </md-chips>
  </section>
  <!-- /FILTER BY PROJECT --> 

  
  <!-- FOR TECHNOLOGIES WITH LEVEL -->
  <section layout="row" layout-align="left center" layout-wrap>
    <p>Filter by technologies: </p>
    <div layout-gt-xs="row" ng-repeat="technology in users.filters.technologies track by $index">
      
      <md-autocomplete 
        flex-gt-xs="50" class="without-border"
        md-selected-item="users.selectedTechnologies[$index]"
        md-search-text-change="users.searchTextChange(userLanguages.searchText[$index])"
        md-selected-item-change="userLanguages.addInQueue(item)"
        md-search-text="searchTechnologies[$index]"
        md-items="item in users.querySearch(searchTechnologies[$index], users.resources.technologies)"
        md-item-text="item.name"
        placeholder="Technology">
        <span md-highlight-text="users.filter.technologies[$index]">
          {{item.name}}
        </span>
      </md-autocomplete>

      <!--TYPE SELECT-->
      <div flex-gt-xs="100" flex-gt-xs="50">
        <md-input-container class="without-margin">
          <label>Technologies level</label>
          <md-select class="u-no-margin"
            aria-label="Technologies level"
            ng-model="users.selectedTechnologies[$index].level"
            ng-disabled="!users.selectedTechnologies[$index]">
            <md-optgroup label="Technologies level" >
              <md-option value="{{technology.level}}" ng-repeat="technology in users.technologiesText">
                <span>{{technology.title}}</span>
              </md-option>
            </md-optgroup>
          </md-select>
        </md-input-container>
      </div>
      <!-- TYPE SELECT -->

    </div>      
    <section class="md-padding">
      <md-button
        md-no-ink
        class="md-primary small-text"
        label="Reset all filters"
        aria-label="Reset all filters"
        ng-click="users.addNewTechnology()">
        <md-icon class="material-icons">add_circle_outline</md-icon>
        Add Technology
        <md-tooltip md-autohide="true">
          Add Technology
        </md-tooltip>
      </md-button>
    </section>
  </section>
  <!-- /FOR TECHNOLOGIES WITH LEVEL -->


  <!-- FOR LANGUAGES WITH LEVEL -->
  <section layout="row" layout-align="left center" layout-wrap>
    <p>Filter by languages:</p>
    <div layout-gt-xs="row" ng-repeat="language in users.filters.languages track by $index">
      <md-autocomplete 
        flex-gt-xs="40" class="without-border"
        md-selected-item="users.selectedLanguages[$index]"
        md-search-text-change="users.searchTextChange(userLanguages.searchText[$index])"
        md-selected-item-change="userLanguages.addInQueue(item)"
        md-search-text="searchLanguages[$index]"
        md-items="item in users.querySearch(searchLanguages[$index], users.resources.languages)"
        md-item-text="item.long_name"
        placeholder="Languages">

        <span md-highlight-text="users.selectedLanguages[$index]">
          {{item.long_name}}
        </span>
      </md-autocomplete>

      <!--TYPE SELECT-->
      <div flex-gt-xs="100" flex-gt-xs="40">
        <md-input-container class="without-margin">
          <label>Language level</label>
          <md-select class="u-no-margin"
            aria-label="Language level"
            ng-model="users.selectedLanguages[$index].level"
            ng-disabled="!users.selectedLanguages[$index]">
            <md-optgroup label="Language level">
              <md-option value="1">
                <span>Elementary</span>
              </md-option>
              <md-option value="2">
                <span>Limited</span>
              </md-option>
              <md-option value="3">
                <span>Professional</span>
              </md-option>
              <md-option value="4">
                <span>Full professional</span>
              </md-option>
              <md-option value="5">
                <span>Native or bilingual</span>
              </md-option>
            </md-optgroup>
          </md-select>
        </md-input-container>
      </div>
      <!-- TYPE SELECT -->

    </div>
    <section class="md-padding">
        <md-button
          md-no-ink
          class="md-primary small-text"
          ng-click="users.addNewLanguages()">
          <md-icon class="material-icons">add_circle_outline</md-icon>
          Add Language
          <md-tooltip md-autohide="true">
          Add Language
        </md-tooltip>
        </md-button>
      </section>
    </section>
  </section>
  <!--/FOR LANGUAGES WITH LEVEL -->


  <!-- FILTER BY START COMPANY DAY-->
  <section layout="row" layout-align="left center" class="md-padding">
    <label>Filter by start company date:</label>
    <md-datepicker ng-model="users.filters.start_date"
      md-placeholder="Start date"
      md-open-on-focus>
    </md-datepicker>
  </section>
  <!-- /FILTER BY START COMPANY DAY-->


  <!-- FILTER BY MONTH -->  
  <section layout="row" layout-align="left center">
    <label>Filter by birthday:</label>
    <md-input-container md-no-float>
      <md-select class="u-no-margin"
        aria-label="month"
        ng-model="users.selectedMonth"
        placeholder="Pick a Month"
        md-selected-text="users.selectedMonthDate(users.selectedMonth)">
        <md-optgroup label="Months">
          <md-option
            value="{{month}}"
            ng-repeat="month in users.monthsList">
            {{month}}
          </md-option>
        </md-optgroup>
      </md-select>
    </md-input-container>
  </section>
  <!-- FILTER BY MONTH -->


  <!-- FILTER BY UNIVERSITY YEAR -->
  <section layout="row" layout-align="left center">
    <label>Filter by year of university:</label>
    <md-input-container>
      <label>University Year</label>
      <md-select class="u-no-margin"
        aria-label="Language level"
        ng-model="users.filters.university_year">
        <md-optgroup label="University Year">
          <md-option value="1">
            <span>First Year</span>
          </md-option>
          <md-option value="2">
            <span>Second Year</span>
          </md-option>
          <md-option value="3">
            <span>Third Year</span>
          </md-option>
          <md-option value="4">
            <span>Four Year</span>
          </md-option>
        </md-optgroup>
      </md-select>
    </md-input-container>
  </section>
  <!-- FILTER BY UNIVERSITY YEAR -->

  <!-- FILTER BY CERTIFICATION-->
  <section layout="row" layout-align="left center">
  <label>Filter by certification: </label>
  <md-input-container>
    <input type="text"
      aria-label="certification"
      ng-model="users.filters.certifications">
    </input>
  </md-input-container>

  </section>
  <!-- FILTER BY CERTIFICATION-->

</md-content>
