<md-toolbar class="md-table-toolbar">
  <div class="md-toolbar-tools">
    Technology form
  </div>
</md-toolbar>



<section class="md-padding">
  <form
    class="form form-add-user"
    ng-submit="technologyForm.add()">

    <div layout-gt-xs="row">
      <md-input-container md-no-float class="md-block" flex-gt-xs="">
        <label>Name</label>
        <input
        type="text"
        name="name"
        ng-model="technologyForm.technology.name"
        required>
      </md-input-container>
    </div>

    <div layout-gt-xs="row">
      <md-input-container md-no-float class="md-block" flex-gt-xs="">
        <label>Description</label>
        <input
        type="text"
        name="description"
        ng-model="technologyForm.technology.label"
        required>
      </md-input-container>
    </div>

    <div layout="row" layout-align="center center">

      <md-button
        class="md-raised md-primary" ng-click="technologyForm.add()">
        Save
      </md-button>

      <md-button
        class="md-raised md-primary" ng-click="technologyForm.clearButton()">
        Clear
      </md-button>

      <md-button
        class="md-raised" ng-click="technologyForm.closeButton()">
        Close
      </md-button>

    </div>

   </form>
</section>




