<section layout="column" md-whiteframe = '6'>



  <!-- TITLE -->
  <md-toolbar
    class="md-table-toolbar md-default"
    layout="row"
    layout-align="space-between center">
    <div class="md-toolbar-tools">

      <div class="md-title">Skills</div>

      <div flex="" class="flex"></div>

      <md-button
        md-no-ink
        class="md-primary"
        ng-click="sk.showAddForm()">
          Add Skill
      </md-button>

      <!-- 

      TO DO!!! To implement the add from json functionality

      <md-button
        md-no-ink
        class="md-primary"
        ng-click="sk.showJsonForm($event)">
          Add Skills from JSON
      </md-button>
 -->
    <!--   <md-button
        md-no-ink
        class="md-primary"
        ng-click="sk.showApiForm()">
          Add Skills from API
      </md-button> -->

      <!-- 
      
      TO DO!!! To implement  multiple delete functionality

      <md-button
        md-no-ink
        class="md-primary"
        ng-click="sk.multipleDelete()">
          Multiple Delete
      </md-button> -->

    </div>
  </md-toolbar> <!-- /TITLE -->




  <md-divider class="md-padding divider-bold u-no-padding"></md-divider>

  <!-- AUTOCOMPLETE SEARCH -->
  <md-content class="md-padding">
    <form ng-submit="$event.preventDefault()">
      <md-autocomplete
        ng-disabled = "sk.isDisabled"
        ng-model="sk.searchText"
        md-selected-item="sk.selectedItem"
        md-search-text-change="sk.searchTextChange(sk.searchText)"
        md-search-text="sk.searchText"
        md-selected-item-change="sk.selectedItemChange(item)"
        md-items="item in sk.querySearch(sk.searchText)"
        md-item-text="item.name"
        md-min-length="0"
        placeholder="Search for a Skill">

        <md-item-template>
          <span class="item-metadata">
            {{ item.name }}
          </span>
        </md-item-template>

      </md-autocomplete>
    </form>
  </md-content><!-- /AUTOCOMPLETE SEARCH -->



  <!-- SELECTED ROWS -->
  <md-toolbar
    class="md-table-toolbar alternate"
    ng-show="sk.table.options.rowSelection && sk.table.selected.length">
    <div class="md-toolbar-tools">
      <span>
        {{sk.table.selected.length}} {{sk.table.selected.length > 1 ? 'Skills' : 'Skill'}} selected
      </span>
    </div>
  </md-toolbar><!-- /SELECTED ROWS -->

  <md-divider class="md-padding divider-bold u-no-padding"></md-divider>




  <!-- TABLE SKILLS -->
  <md-table-container>
    <table
      class="c-table--actions"
      md-table
      md-row-select="sk.table.options.rowSelection"
      multiple="{{sk.table.options.multiSelect}}"
      ng-model="sk.table.selected"
      md-progress="promise">

      <thead
        ng-if="!sk.table.options.decapitate"
        md-head
        md-order="sk.table.query.order">
        <tr md-row>
          <th md-column md-order-by="name">Name</th>
          <th md-column>Label</th>
          <th md-column>Actions</th>
        </tr>
      </thead>

      <tbody md-body>
        <tr
        md-row
        md-select="skill"
        md-on-select="logItem"
        md-auto-select="sk.table.options.autoSelect"
        ng-repeat="skill in sk.skillList | filter: sk.searchText | orderBy: sk.table.query.order | limitTo: sk.table.query.limit : (sk.table.query.page -1) * sk.table.query.limit">

          <td md-cell>{{skill.name}}</td>

          <td md-cell>{{skill.label}}</td>
          <td md-cell>

            <md-button
              class="md-icon-button md-primary"
              label="View Skill"
              aria-label="View Skill"
              ui-sref="skillsParent.details({id: skill.id})">
              <md-icon class="material-icons">visibility</md-icon>
              <md-tooltip md-autohide="true">
                View Skill
              </md-tooltip>
            </md-button>

            <md-button
              class="md-icon-button md-primary"
              label="Edit skill"
              aria-label="Edit skill"
              ng-click="sk.showEditForm(skill.id)">
                <md-icon class="material-icons">create</md-icon>
                <md-tooltip md-autohide="true">
                  Edit skill
                </md-tooltip>
              </md-button>

            <md-button
              class="md-icon-button md-warn"
              label="Remove skill"
              aria-label="Remove skill"
              ng-click="sk.deleteConfirm(skill.name, skill.id)">
              <md-icon class="material-icons">delete</md-icon>
              <md-tooltip md-autohide="true">
                Remove skill
              </md-tooltip>
            </md-button>

          </td>

        </tr>
      </tbody>

    </table>
  </md-table-container><!-- TABLE SKILLS -->




  <!-- TABLE PAGINATION -->
  <md-table-pagination
    md-limit="sk.table.query.limit"
    md-limit-options="sk.table.limitOptions"
    md-page="sk.table.query.page"
    md-total="{{sk.skillList.length}}"
    md-page-select="sk.table.options.pageSelect"
    md-boundary-links="sk.table.options.boundaryLinks">
  </md-table-pagination><!-- TABLE PAGINATION -->




  <!-- TEMPLATES -->
  <script type="text/ng-template" id="skillJson.tmpl.html">
    <section layout="column">

      <md-toolbar class="md-table-toolbar">
        <div class="md-toolbar-tools ">
          Add skills from JSON
        </div>
      </md-toolbar>

      <section class="md-padding">

        <form name="employeejsonform" class="form md-inline-form">
          <textarea class="save-from-json" ng-model="skillM.json" placeholder="Paste json here">
          </textarea>
        </form>

        <!-- Actions buttons -->
        <div layout="row" layout-align="center center">

          <md-button
            class="md-raised md-primary"
            ng-click="skillM.saveFromJson(skillM.json)">
            Save
          </md-button>

          <md-button
            class="md-raised md-primary"
            ng-click="skillM.clearFields()">
            Clear
          </md-button>

          <md-button
            class="md-raised"
            ng-click="skillM.closeDialog()">
            Close
          </md-button>

        </div><!-- /Actions buttons -->

      </section>

    </section>
  </script>
  <!-- /TEMPLATES -->




</section>
