<md-toolbar class="md-table-toolbar">

    <div class="md-toolbar-tools ">
      Skill Form
    </div>

  </md-toolbar>




  <form class="form form-add-user">
    <div layout-gt-xs="row" >

      <md-input-container md-no-float class="md-block" flex-gt-xs="">
        <label>Name</label>
        <input
        type="text"
        name="name"
        ng-model="as.skill.name"
        required>
      </md-input-container>

    </div>

    <div layout-gt-xs="row" >

      <md-input-container md-no-float class="md-block" flex-gt-xs="">
        <label>Description</label>
        <input
        type="text"
        name="description"
        ng-model="as.skill.label"
        required>
      </md-input-container>

    </div>
<!--   <div layout-gt-xs="row">
    <md-input-container md-no-float class="md-block" flex-gt-xs="">
      <label>Icon</label>
      <input type="text" name="icon" ng-model="as.skill.icon">
    </md-input-container>
  </div> -->




  <div layout="row" layout-align="center center">

    <md-button
      class="md-raised md-primary" ng-click="as.saveButton()">
      Save
    </md-button>

    <md-button
      class="md-raised md-primary" ng-click="as.clearButton()">
      Clear
    </md-button>

    <md-button
      class="md-raised" ng-click="as.closeButton()">
      Close
    </md-button>

  </div>

 </form>
