<section layout="column">

  <md-toolbar class="md-table-toolbar">
    <div class="md-toolbar-tools ">
      Add Holiday
    </div>
  </md-toolbar>

  <section class="md-padding">

    <form name="holidayform" class="form form-add-user md-inline-form" ng-submit="$event.preventDefault()">
      <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
        <!-- Request -->
        <md-tab label="Request">

          <md-content class="md-padding">

            <!--Employee start-->
            <div class="md-block md-padding">
              <md-autocomplete md-no-cache="true"
                md-search-text="holidayForm.searchUserText"
                md-search-text-change="holidayForm.searchTextChange(holidayForm.searchUserText)"
                md-selected-item-change="holidayForm.addUser(item)"
                md-items="item in holidayForm.querySearch(holidayForm.searchUserText, holidayForm.users)"
                ng-model="holidayForm.user"
                md-item-text="item.first_name +' '+ item.last_name"
                md-min-length="0"
                placeholder="Select User"
                md-input-name="autocompleteUser"
                md-require-match
                required>
                <md-item-template>
                  <span class="item-metadata">
                    {{item.first_name}}
                    {{item.last_name}}
                  </span>
                </md-item-template>
                <md-not-found>
                  No employee matching <strong>{{holidayForm.searchUserText}}</strong> were found.
                </md-not-found>
              </md-autocomplete>

              <div ng-messages="holidayform.autocompleteUser.$error"
                layout-gt-xs="row"
                ng-if="holidayform.autocompleteUser.$touched">
                <div ng-message="md-require-match" class="alert alert-info fade" role="alert">
                  You must select an option!
                </div>
              </div>

            </div>
            <!--Employee end-->


            <!-- SELECT TEAM LEADER -->
            <div class="md-block md-padding">

              <md-chips
                ng-model="holidayForm.teamLeaders"
                md-on-remove
                md-on-add="holidayForm.addLeaders()"
                md-require-match=true
                md-input-name="autocompleteLeader">
                <md-autocomplete
                  md-search-text="holidayForm.leaderText"
                  md-items="item in holidayForm.querySearch(holidayForm.leaderText, holidayForm.users)"
                  md-item-text="item.first_name+' '+item.last_name"
                  md-min-length="holidayForm.minLength"
                  placeholder="Search Team Leader">
                  <md-item-template>
                    <span md-highlight-text="holidayForm.teamLeaders">
                      {{item.first_name}} {{item.last_name}}
                    </span>
                  </md-item-template>
                </md-autocomplete>
                <md-chip-template>
                  <span>
                    <em>{{$chip.first_name}} {{$chip.last_name}}</em>
                  </span>
                </md-chip-template>
              </md-chips>

            </div>
            <!-- /SELECT TEAM LEADER -->

            <div layout-gt-xs="row" ng-repeat="holidayRow in holidayForm.holidayReplaceIncrement track by $index">

              <!--Project start-->
              <div class="md-block md-padding" flex-gt-xs="40">
                <md-autocomplete
                  md-no-cache="true"
                  md-search-text="holidayForm.searchProjectHold[$index]"
                  md-search-text-change="holidayForm.searchTextChange(holidayForm.searchProjectHold[$index])"
                  md-selected-item-change="holidayForm.addRepProject(item, $index)"
                  md-items="item in holidayForm.querySearch(holidayForm.searchProjectHold[$index], holidayForm.projects)"
                  md-item-text="item.name"
                  md-min-length="0"
                  placeholder="Search project"
                  md-input-name="autocompleteProject_{{$index}}"
                  md-require-match
                  required>
                  <md-item-template>
                    <span class="item-metadata">
                      {{item.name}}
                    </span>
                  </md-item-template>
                  <md-not-found>
                    No project matching were found.
                  </md-not-found>
                </md-autocomplete>

                <div ng-messages="holidayform['autocompleteProject_'+$index].$error"
                  layout-gt-xs="row" layout-align="center center"
                  ng-if="holidayform['autocompleteProject_'+$index].$touched">
                  <span ng-message="md-require-match" class="alert-info fade" role="alert">
                    You must select an option!
                  </span>
                </div>

              </div>
              <!--Project end-->

              <!--Replacement Employee start-->
              <div class="md-block md-padding" flex-gt-xs="40">
                <md-autocomplete
                  md-no-cache="true"
                  md-search-text="holidayForm.searchEmp[$index]"
                  md-search-text-change="holidayForm.searchTextChange(holidayForm.searchEmp[$index])"
                  md-selected-item-change="holidayForm.addEmployeeReplacer(item, $index)"
                  md-items="item in holidayForm.querySearch(holidayForm.searchEmp[$index], holidayForm.users)"
                  md-item-text="item.first_name +' '+ item.last_name"
                  md-min-length="0"
                  placeholder="Search employee"
                  md-input-name="autocompleteReplace_{{$index}}"
                  md-require-match
                  required>
                  <md-item-template>
                    <span class="item-metadata">
                      {{item.first_name}}
                      {{item.last_name}}
                    </span>
                  </md-item-template>
                  <md-not-found>
                    No employee matching were found.
                  </md-not-found>
                </md-autocomplete>

                <div ng-messages="holidayform['autocompleteReplace_'+$index].$error"
                  layout-gt-xs="row" layout-align="center center"
                  ng-if="holidayform['autocompleteReplace_'+$index].$touched">
                  <span ng-message="md-require-match" class="alert-info fade" role="alert">
                    You must select an option!
                  </span>
                </div>

              </div>
              <!--Replacement Employee start-->

              <div class="md-block md-padding" flex-gt-xs="20">
                <md-button
                  class="md-raised md-primary"
                  ng-click="holidayForm.addNewReplaceHoliday()">
                  New
                </md-button>
              </div>
            </div>

            <!--Period start-->
            <section>
              <div layout-gt-xs="row">
                <label>Start date</label>
                <md-datepicker
                  md-open-on-focus
                  required
                  ng-model="holidayForm.dateList.from"
                  md-placeholder="Enter date"
                  ng-change="holidayForm.checkDates()"
                  md-date-filter="holidayForm.getWorkingDay">
                </md-datepicker>

                 <label>End date</label>
                <md-datepicker
                  md-open-on-focus
                  required
                  ng-model="holidayForm.dateList.to"
                  md-placeholder="Enter date"
                  ng-change="holidayForm.checkDates()"
                  md-date-filter="holidayForm.getWorkingDay">

                </md-datepicker>

              </div>
               <label>Signing date</label>
              <div layout-gt-xs="row">
                <md-datepicker
                  md-open-on-focus
                  required
                  ng-model="holidayForm.dateList.signing_day"
                  md-placeholder="Signing date"
                  ng-change="holidayForm.checkDates()"
                  md-date-filter="holidayForm.getWorkingDay">
                </md-datepicker>
              </div>

            </section>
            <!--Period end-->

            <section ng-show="holidayForm.validateDate" layout-gt-xs="row"
              layout-align="center center">
              <span class="alert-info fade"
              role="alert">
                End date must be greater than Start date and Signing date lesser than Start date !
              </span>
            </section>

          </md-content>

        </md-tab>
        <!-- /Request -->

        <!-- Preview request-->
         <md-tab label="Preview">
          <md-content class="md-padding">
          <div id="printable">
            <section class="requiest-vacation page" pdf-save-content="generatepdf" >
              <img ng-src="/assets/images/logo-assist.png" class="holiday__logo">
              <h1 class="vacation-heading">Cerere pentru concediu de odihnă</h1>
              <p>Stimate Domnule Director,</p>
              <p>
                  Subsemnat<span ng-if="!holidayForm.isFemale">ul</span><span ng-if="holidayForm.isFemale">a</span>
                  <strong>{{holidayForm.user.first_name}} {{holidayForm.user.last_name}}</strong>,
                  angaj<span ng-if="!holidayForm.isFemale">t al</span><span ng-if="holidayForm.isFemale">tă a</span>
                  firmei SC ASSIST Software SRL, vă rog să-mi aprobaţi
                  <strong>
                      {{ (holidayForm.dateList.to - holidayForm.dateList.from - 86400000) | date: 'd'}}
                  </strong>
                  <span ng-if="(holidayForm.dateList.to - holidayForm.dateList.from - 86400000) > 1">zile</span>
                  <span ng-if="(holidayForm.dateList.to - holidayForm.dateList.from - 86400000)< 1">zi</span>
                  din concediul de odihnă

                  <span ng-if="(holidayForm.dateList.to - holidayForm.dateList.from - 86400000)< 1">aferentă</span>
                  <span ng-if="(holidayForm.dateList.to - holidayForm.dateList.from - 86400000)> 1">aferente</span> anului

                  <strong>{{ holidayForm.dateList.to | date: 'yyyy' }}</strong>

                  <span ng-if="(holidayForm.dateList.to - holidayForm.dateList.from - 86400000) > 1">în intervalul
                    <span>
                        <strong>{{holidayForm.dateList.from | date: 'dd.MM.yyyy'}} - {{holidayForm.dateList.to | date: 'dd.MM.yyyy'}}</strong>
                    </span>.
                  </span>

                  <span ng-if="(holidayForm.dateList.to - holidayForm.dateList.from - 86400000) === 0">în data de
                    <span>
                        <strong>{{holidayForm.dateList.from | date: 'dd.MM.yyyy'}}</strong>
                    </span>.
                  </span>
              </p>
              <p>Vă mulţumesc.</p>
              <table>
                <tr>
                    <td class="right-border">
                        <p>Cu considerație,</p>
                            <strong>{{holidayForm.user.first_name}} {{holidayForm.user.last_name}}</strong>
                        </p>
                        <p>Semnătura,</p>
                        <p>
                            Data:
                            <strong>
                                {{holidayForm.dateList.signing_day | date: 'dd.MM.yyyy'}}
                            </strong>
                        </p>
                    </td>
                    <td class="last-collumn">
                        <p><strong>APROBAT,</strong></p>
                        <p>Gheorghe DAVID</p>
                    </td>
                </tr>
              </table>

              <h4><strong>Mențiuni</strong></h4>
              <p>
                <strong>1. </strong>Task-urile din proiectele la care sunt implicat vor fi preluate de:
              </p>
              <table>
                <thead>
                  <tr>
                    <th>Proiect</th>
                    <th>Înlocuitor</th>
                    <th>Semnătura înlocuitorului</th>
                  </tr>
                </thead>

                <tbody ng-repeat= "item in holidayForm.searchProjectHold track by $index">
                  <tr class="text--center">
                    <td>
                      <span ng-model = "item.name">{{item}}</span>
                    </td>
                    <td>
                        <span>{{holidayForm.searchEmp[$index]}}</span>
                    </td>
                    <td><!-- Empty field for signature --></td>
                  </tr>
                </tbody>
              </table>

              <p>
                <strong>2.</strong>
                Am luat notă de cererea de concediu și confirm că avem la dispoziție toate elementele de acces, resursele și informațiile necesare derulării corespunzătoare a proiectelor în care colegul meu, solicitant al prezentei cereri, este implicat.
              </p>
              <p>
                Team leader<span ng-show="holidayForm.teamLeaders.length > 1">s</span>,
                <br />
                <strong ng-repeat="leader in holidayForm.teamLeaders track by $index">
                  {{leader.last_name}} {{leader.first_name}}<span ng-show="({{$index}} != holidayForm.teamLeaders.length-1)">,</span>
                </strong>
              </p>
              <p>Semnătura:</p>
              <p>
                Data:
                <strong>
                    {{holidayForm.dateList.signing_day | date: 'dd.MM.yyyy'}}
                </strong>

              </p>

            </section>
          </div>
            <md-button class="md-primary md-raised generatepdf" ng-click = "holidayForm.print()">Print</md-button>
          </md-content>
        </md-tab>

      </md-tabs>


      <div layout="row" layout-align="center center">

        <md-button
          class="md-raised md-primary"
          ng-click="holidayForm.saveHoliday()"
          ng-disabled="holidayform.$invalid || holidayForm.validateDate">
          Save
        </md-button>

        <md-button
          class="md-raised md-primary"
          ng-click="holidayForm.clearFields()">
          Clear
        </md-button>

        <md-button
          class="md-raised"
          ng-click="holidayForm.closeDialog()">
          Close
        </md-button>

      </div>

    </form>

  </section>

</section>
