<!-- CARD JOBS -->
<md-card>





  <!-- CARD TITLE -->
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Experience</span>
    </md-card-title-text>
  </md-card-title><!-- /CARD TITLE -->






  <!-- CARD NOTES -->
  <md-content class="c-card-profile__notes">
    <p>
      <strong>NOTE: </strong>Complete here with your working experience.
    </p>
  </md-content> <!-- CARD NOTES -->






  <!-- PREVIEW JOBS -->
  <md-content
    ng-show="employeeJobs.disabledJob"
    class="c-card-profile__preview">
    <md-list layout="row" layout-wrap>
      <md-list-item
        flex="50"
        class="md-2-line"
        ng-repeat="job in employeeJobs.createJob track by $index">
        <div class="md-list-item-text" layout="column">
          <h3>{{job.name}}</h3>
          <h4>at: {{job.emplName}}</h4>
          <p>
            {{job.startDate | date: 'dd/MMM/yyyy'}} - {{job.endDate | date: 'dd/MMM/yyyy'}}
          </p>
        </div>
      </md-list-item>
    </md-list>
  </md-content><!-- /PREVIEW JOBS -->





  <!-- FORM JOBS -->
  <md-content class="md-padding" ng-hide="employeeJobs.disabledJob">

    <!-- CARD GROUP  -->
    <section
      class="md-padding c-card-group"
      ng-repeat="(jobIndex, jobs) in employeeJobs.createJob track by $index">





      <!-- REMOVE JOB -->
      <md-button
        class="md-fab md-mini md-warn c-card-group__remove"
        label="Remove job"
        aria-label="Remove job"
        ng-disabled="employeeJobs.disabledJob"
        ng-click="employeeJobs.removeJob($index)">
          <md-icon class="material-icons">delete</md-icon>
          <md-tooltip>Remove job</md-tooltip>
      </md-button>
      <!-- /REMOVE JOB -->





      <!-- POSITION -->
      <section layout-gt-xs="row" layout-align="start center">
        <md-input-container md-no-float class="md-block" flex-gt-xs="">
           <label>Position</label>
          <input
            ng-model="employeeJobs.createJob[$index].name"
            name=jobTitle
            ng-disabled="employeeJobs.disabledJob"
            aria-label="createJob">
        </md-input-container>
      </section><!-- /POSITION -->





      <!-- EMPLOYER -->
      <section layout-gt-xs="row" layout-align="start center">
        <md-input-container md-no-float class="md-block" flex-gt-xs="">
          <label>Employer</label>
          <input
            ng-model="employeeJobs.createJob[$index].emplName"
            name=jobTitle
            ng-disabled="employeeJobs.disabledJob"
            aria-label="employeeName">
        </md-input-container>
      </section><!-- EMPLOYER -->





      <!-- DESCRIPTION -->
      <section layout-gt-xs="row" layout-align="start bottom">
        <md-input-container md-no-float class="md-block" flex-gt-xs="">
          <label>Description</label>
          <input
            ng-model="employeeJobs.createJob[$index].description"
            name=description
            ng-disabled="employeeJobs.disabledJob"
            aria-label="description">
        </md-input-container>
      </section><!-- DESCRIPTION -->





      <!-- PERIOD -->
      <section layout-gt-xs="row" layout-align="center center">

        <div flex-gt-xs="50">
          <label class="u-ml-5">From</label>
          <hra-date-select
            show-months="true"
            orientation="vertical"
            initial-date="employeeJobs.createJob[$index].startDate"
            ng-model="employeeJobs.createJob[$index].startDate">
          </hra-date-select>
        </div>

        <div flex-gt-xs="50">
          <label class="u-ml-5">To</label>
          <hra-date-select
            flex-gt-xs="50"
            show-months="true"
            orientation="vertical"
            initial-date="employeeJobs.createJob[$index].endDate"
            ng-model="employeeJobs.createJob[$index].endDate">
          </hra-date-select>
        </div>

      </section><!-- /PERIOD -->





      <!-- TECHNOLOGIES -->
      <md-list layout-gt-xs="row"
        layout-wrap layout-align="space-between center"
        class="md-padding">
       <md-list-item
        class="md-2-line"
        flex="50"
        ng-repeat="techs in employeeJobs.acc[jobIndex] track by $index">

        <!-- TECHNOLOGIES AUTOCOMPLETE -->
        <div class="md-block" flex-gt-xs="80">
          <form ng-submit="$event.preventDefault()">
            <md-autocomplete
             ng-model = employeeJobs.acc[jobIndex][$index]
             md-no-cache="true"
             ng-disabled ="employeeJobs.disabledProjects"
             md-search-text="employeeJobs.acc[jobIndex][$index]"
             md-search-text-change="employeeJobs.searchTextChange(employeeJobs.acc[jobIndex][$index])"
             md-selected-item-change="employeeJobs.addTech(item, employeeJobs.employee, $index)"
             md-items="item in employeeJobs.querySearchTech(employeeJobs.acc[jobIndex][$index], projIndex)"
             md-item-text="item.label"
             md-min-length="0"
             placeholder="Select a technology">

             <md-item-template flex-gt-xs="20">
              <span class="item-metadata">
                {{item.label}}
             </md-item-template>

            </md-autocomplete>
          </form>
        </div><!-- /TECHNOLOGIES AUTOCOMPLETE -->

        <md-button
          class="md-icon-button md-warn"
          label="Remove technology"
          aria-label="Remove technology"
          ng-click="employeeJobs.removeTechnology(jobIndex, $index)">
          <md-icon class="material-icons">delete</md-icon>
        </md-button>

        </md-list-item>
      </md-list>

      <md-button
        md-no-ink
        class="md-primary small-text"
        ng-click="employeeJobs.addTechnology(jobIndex)">
        Add Technology
      </md-button>
      <!-- /TECHNOLOGIES -->





    </section><!-- /CARD GROUP ng-repeat -->

    <section class="md-padding">
      <md-button
        md-no-ink
        class="md-primary small-text"
        ng-click="employeeJobs.addJobs()"
        ng-hide = "employeeJobs.disabledJob">
        Add New Job
      </md-button>
    </section>

  </md-content> <!-- /FORM JOBS -->





  <!-- CARD ACTIONS -->
  <md-card-actions
    layout="column"
    layout-align="start"
    ng-show="employeeJobs.disabledJob">
    <md-button
      id ="job"
      class="c-card-profile__btn no-margin"
      ng-click="employeeJobs.generalInfoShowHide('job'); employeeJobs.toggleCard($event, 'open')">
      Add Jobs
    </md-button>
  </md-card-actions>

  <md-card-actions
    layout="row"
    layout-align="center center"
    ng-show="!employeeJobs.disabledJob"
    class="additional">

    <md-button
      class="md-raised md-primary"
      ng-click="employeeJobs.saveEmployee(employeeJobs.employee); employeeJobs.toggleCard($event, 'close')">
      Save
    </md-button>

    <md-button
      class="md-raised"
      ng-click="employeeJobs.cancelAdd(); employeeJobs.toggleCard($event, 'close')">
      Cancel
    </md-button>

  </md-card-actions>
  <!-- /CARD ACTIONS -->





</md-card><!-- /CARD JOBS -->
