<section nlayout="column" ng-cloak="" class="md-inline-form">

  <md-toolbar class="md-table-toolbar">
    <div class="md-toolbar-tools">
      Add Project
    </div>
  </md-toolbar>

  <section class="md-padding">
    <form 
      class="form form-add-project"
      ng-submit="projectForm.add()"
      novalidate
      name="projectFormular"
      >

      <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
        <!-- GENERAL TAB -->
        <md-tab label="General">
          <md-content class="md-padding">
            <div layout-gt-xs="row">
              <md-input-container md-no-float class="md-block" flex-gt-xs="">

                <label>Name</label>
                <input ng-model="projectForm.project.name" name="name" required>
                  
                <div ng-messages="projectform.name.$error">
                  <div ng-message="required">This field is required</div>
                </div>

              </md-input-container>
            </div>

            <div layout-gt-xs="row">
              <md-input-container md-no-float class="md-block" flex-gt-xs="">

                <label>Description</label>
                <textarea 
                  ng-model="projectForm.project.description" 
                  name="description"
                  required>
                </textarea>

                <div ng-messages="projectform.description.$error">
                  <div ng-message="required">This field is required</div>
                </div>

              </md-input-container>
            </div>


            <div layout-gt-xs="row">

              <label>Start date</label>
              <md-datepicker 
                ng-model="projectForm.project.start_date" 
                md-placeholder="Enter date"
                required
                ng-change="projectForm.checkDates()">
              </md-datepicker>



              <label>End date</label>
              <md-datepicker 
                ng-model="projectForm.project.end_date"
                md-min-date="projectForm.project.start_date"
                md-placeholder="Enter date"
                required
                ng-change="projectForm.checkDates()">
              </md-datepicker>

            </div>
          </md-content>
        </md-tab>

      </md-tabs>

      <div layout="row" layout-align="center center">

        <md-button class="md-raised md-primary" 
          ng-click="projectForm.add()"
          ng-disabled="projectFormular.$invalid || projectForm.validateDate">
          Save
        </md-button>

        <md-button class="md-raised md-primary" 
          ng-click="projectForm.clearButton()">
          Clear
        </md-button>

        <md-button class="md-raised" 
          ng-click="projectForm.closeButton()">
          Close
        </md-button>

      </div>

    </form>

  </section>

</section>