<md-card>


  <md-card-title>
	   <md-card-title-text>
	     <span class="md-headline">General informations</span>
			 <p class="u-font-small u-no-margin">
        <strong>Last Update at: {{projectGeneralInfo.project.updatedAt | date: longDate}}</strong>
      </p>
	   </md-card-title-text>
  </md-card-title>

  <!-- PREVIEW GENERAL INFO -->
  <md-content
  	ng-show="projectGeneralInfo.disabledgeneralInfo"
    class="c-card-profile__preview">

   <section layout-gt-xs="row">

     <div flex="100" class="c-card-profile__general-info">

       <p class="c-card-profile__info c-card-profile__name">
        <strong>Name: </strong>
         {{projectGeneralInfo.project.name}}
       </p>

       <p class="c-card-profile__info c-card-profile__email">
         <strong>Description: </strong>{{projectGeneralInfo.project.description}}
       </p>

       <p class="c-card-profile__info c-card-profile__email">
         <strong>Start date: </strong>{{projectGeneralInfo.project.startDate | date:'longDate'}}
       </p>

       <p class="c-card-profile__info c-card-profile__phone">
         <strong>Deadline: </strong>
         {{projectGeneralInfo.project.deadline | date:'longDate'}}
       </p>

     </div>

    </section>
  </md-content><!-- /PREVIEW GENERAL INFO -->


	<md-content
		class="md-padding"
		ng-hide="projectGeneralInfo.disabledgeneralInfo">

		<!-- Name -->
		<div layout-gt-xs="row">
		  <md-input-container md-no-float class="md-block" flex-gt-xs="">

				 <label>Name</label>
				 <input ng-model="projectGeneralInfo.project.name" name=name required>
				 <div ng-messages="projectGeneralInfo.name.$error">
				   <div ng-message="required">This field is required</div>
				 </div>

		  </md-input-container>
		</div><!-- /Name -->


		<!-- Description -->
		<div layout-gt-xs="row">
		  <md-input-container md-no-float class="md-block" flex-gt-xs="">

		    <label>Description</label>
			      <textarea
		          ng-model="projectGeneralInfo.project.description"
		          name="description"
		          required>
		        </textarea>

		  </md-input-container>
		</div><!-- /Description -->

		<!-- Start date/ Deadline -->
		<div layout-gt-xs="row">

		    <label>Start date</label>
		    <md-datepicker
		      ng-model="projectGeneralInfo.project.startDate"
		      md-placeholder="Enter date">
		    </md-datepicker>



		    <label>Deadline</label>
		    <md-datepicker
		      ng-model="projectGeneralInfo.project.deadline"
		      md-min-date = "projectGeneralInfo.project.startDate"
		      md-placeholder="Enter date">
		    </md-datepicker>

		</div><!-- /Start date/ Deadline -->

	</md-content>

	<!-- CARD ACTIONS-->
	<md-card-actions
	  layout="column"
	  layout-align="start"
	  ng-show="projectGeneralInfo.disabledgeneralInfo">
	  <md-button
	    class="c-card-profile__btn no-margin"
	    ng-click="projectGeneralInfo.disabledgeneralInfo = false">
	    Add general information
	  </md-button>
	</md-card-actions>

	<md-card-actions
	  layout="row"
	  layout-align="center center"
	  ng-show="!projectGeneralInfo.disabledgeneralInfo"
	  class="additional">

	  <md-button
	    class="md-raised md-primary"
	    ng-click="projectGeneralInfo.saveProject(projectGeneralInfo.project)"
	    ng-disabled="btnIsDisabled">
	    Save
	  </md-button>

	  <md-button
	    class="md-raised"
	    ng-click="projectGeneralInfo.cancelAdd()">
	    Cancel
	  </md-button>

	</md-card-actions><!-- /CARD ACTIONS-->
</md-card>
