<section layout="column">



  <md-toolbar
    class="md-table-toolbar md-default"
    layout="row"
    layout-align="space-between center">
    <div class="md-toolbar-tools">

      <div class="md-title">
        Projects
        <md-button
          class="md-primary"
          label="Toggle filters"
          aria-label="Toggle filters"
          ng-click="projects.toggleFilters()">
          <md-icon class="material-icons">filter_list</md-icon>
          <md-tooltip md-autohide="true">
            Toggle filters
          </md-tooltip>
        </md-button>
      </div>

      <div flex="" class="flex"></div>

      <div layout="row" layout-align="right">

        <md-button md-no-ink class="md-primary" ng-click="projects.showForm()">
          Add Project
        </md-button>

        <md-button md-no-ink class="md-primary" ng-csv="projects.csvData" csv-header="projects.csvHeader()" filename="RaportProjects.csv">
          Export CSV
        </md-button>

      </div>

    </div>
  </md-toolbar>



  <md-divider class="divider-bold u-no-padding"></md-divider>



  <md-content class="md-padding">
    <form ng-submit="$event.preventDefault()">
      <md-autocomplete
        ng-disabled="projects.isDisabled"
        ng-model="projects.searchProject"
        md-selected-item="projects.selectedItem"
        md-search-text-change="projects.querySearch(projects.searchProject, projects.resources.projects)"
        md-search-text="projects.searchProject"
        md-selected-item-change="projects.querySearch(projects.searchProject, projects.resources.projects)"
        md-items="item in projects.querySearch(projects.searchProject, projects.resources.projects)"
        md-item-text="item.name" 
        md-min-length="0" 
        md-dropdown-position="bottom"
        placeholder="Search project">
        <md-item-template>
          <span class="item-metadata">
          {{item.name}}
        </md-item-template>
        <md-not-found>
         No project matching <strong>{{projects.searchProject}}</strong> were found.
        </md-not-found>
      </md-autocomplete>
    </form>
  </md-content>



  <!-- To add in table component -->
  <md-toolbar
    class="md-table-toolbar alternate"
    ng-show="projects.tableSettings.options.rowSelection && projects.tableSettings.selected.length">
    <div class="md-toolbar-tools">
      <span>
      {{projects.tableSettings.selected.length}} {{projects.tableSettings.selected.length > 1 ? 'projects' : 'project'}} selected
    </span>
    </div>
  </md-toolbar>



  <hra-projects-filters></hra-projects-filters>



  <md-divider class="md-padding divider-bold u-no-padding"></md-divider>



  <!-- TABLE PROJECTS -->
  <md-table-container>
    <table
      class="c-table--actions c-table--big table-projects"
      md-table
      md-row-select="projects.tableSettings.options.rowSelection"
      multiple="{{projects.tableSettings.options.multiSelect}}"
      ng-model="projects.tableSettings.selected"
      md-progress="promise">

      <thead
        ng-if="!projects.tableSettings.options.decapitate"
        md-head
        md-order="projects.tableSettings.query.order"
        md-on-reorder="logOrder">
        <tr md-row>
          <th md-column>Nr.</th>
          <th md-column md-order-by="name">Name</th>
          <th md-column md-order-by="start_date">Start</th>
          <th md-column md-order-by="end_date">End</th>
          <th md-column>Customer</th>
          <th md-column>Type</th>
          <th md-column>Industry</th>
          <th md-column>Employees</th>
          <th md-column>Technologies</th>
          <th md-column>Actions</th>
        </tr>
      </thead>

      <tbody md-body>
        <tr
          class="project__row"
          md-row
          md-select="project"
          md-on-select="logItem"
          md-auto-select="projects.options.autoSelect"
          ng-repeat="project in projects.projects
            | filter: projects.searchProject
            | orderBy: projects.tableSettings.query.order
            | limitTo: projects.tableSettings.query.limit : (projects.tableSettings.query.page - 1) * projects.tableSettings.query.limit track by $index">

          <td md-cell> {{$index + 1}}</td>

          <td md-cell>
            <strong>
              {{project.name | limitTo: 20}}
              <span ng-show = "project.name.length >20">[...]</span>
            </strong>
          </td>

          <td md-cell>{{project.start_date | date: 'dd-MM-yyyy'}}</td>

          <td md-cell>
            <p class="u-no-margin"
              ng-if="project.end_date">{{project.end_date | date: 'dd-MM-yyyy'}}</p>
            <p class="u-no-margin"
              ng-if="!project.end_date">ongoing</p>
            <span ng-show="project.daysLeft > 0 ">
              <strong>
              ({{project.daysLeft}}
              day<span ng-show = "project.daysLeft > 1">s</span> left)
              </strong>
            </span>
            <!--<span ng-show="project.daysLeft === 0">
              <strong>(Today!)</strong>
            </span>-->
            <!--<span ng-show="project.daysLeft < 0">
              <strong>(Closed)</strong>
            </span>-->
          </td>

          <td md-cell>
            <ul class="c-list">
              <li ng-repeat="customer in project.customers track by $index">
                  <span class="flag" ng-class="'flag-'+customer.name"></span>
                  {{customer.name}}
              </li>
            </ul>
          </td>

          <td md-cell>
            <ul class="c-list">
              <li ng-repeat="app in project.application_types track by $index">
              {{$index +1}}. {{app.name}}
              </li>
            </ul>
          </td>

          <td md-cell>
            <ul class="c-list">
              <li ng-repeat="industry in project.industries track by $index">
                {{$index +1}}. {{industry.name}}
              </li>
            </ul>
          </td>

          <td md-cell>
            <ul class="c-list">
              <li ng-repeat="employee in project.users track by $index">
                {{$index +1}}. {{ employee.first_name }} {{ employee.last_name }}
              </li>
            </ul>
          </td>

          <td md-cell>
            <ul class="c-list">
              <li ng-repeat="technology in project.technologies track by $index">
                {{$index +1}}. {{technology.name}}
              </li>
            </ul>
          </td>

          <td md-cell>

            <md-button
              class="md-icon-button md-primary"
              label="View project"
              aria-label="View project"
              ui-sref="projectsParent.details({id: project.id})">
              <md-icon class="material-icons">visibility</md-icon>
              <md-tooltip md-autohide="true">
                View project
              </md-tooltip>
            </md-button>

            <md-button
              class="md-icon-button md-warn"
              label="Remove project"
              aria-label="Remove project"
              ng-click="projects.remove(project, $event)">
              <md-icon class="material-icons">delete</md-icon>
              <md-tooltip md-autohide="true">
                Remove project
              </md-tooltip>
            </md-button>

          </td>

        </tr>
      </tbody>

    </table>
  </md-table-container><!-- /TABLE PROJECTS -->



  <hra-table-pagination settings="projects.tableSettings">
  <hra-table-pagination>



  <!-- TEMPLATES -->
  <script type="text/ng-template" id="projectForm.tmpl.html">
    <hra-project-form
      md-whiteframe='6'
      project=projectM.project
      project-index="projectM.projectIndex"
      form-title="projectM.formTitle">
    </hra-project-form>
  </script>

  <script type="text/ng-template" id="projectJsonForm.tmpl.html">

    <textarea
      cols="30"
      rows="10"
      ng-model="projectJsonM.json">
    </textarea>

    <button ng-click="projectJsonM.saveFromJson(projectJsonM.json)">
      Save
    </button>

  </script>
  <!-- /TEMPLATES -->




</section>
