<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= @user.email %> is trying to login on HR platform. Please confirm this email
			<a href="https://hr.assist.ro:8080/admin/login">Admin Page</a>
    </p>
  </body>
</html>