<md-card>




  <!-- CARD TITLE -->
  <md-card-title>
   <md-card-title-text>
     <span class="md-headline">Upload Files</span>
   </md-card-title-text>
  </md-card-title><!-- CARD TITLE -->





  <!-- CARD NOTES -->
  <md-content class="c-card-profile__notes">
    <p>
      <strong>NOTE: </strong>You can upload here files (diplomas, certifications, custom cv.  etc.) for some extra information.
    </p>
  </md-content> <!-- CARD NOTES -->





  <!-- PREVIEW SKILLS -->
  <md-content
    ng-show="uploadFiles.disabledUpload"
    class="c-card-profile__preview">

    <md-list layout="row" layout-wrap>

      <md-list-item
        flex="50"
        class="md-2-line"
        ng-repeat = "file in uploadFiles.uploadedFile track by $index">
        <div class="md-list-item-text" layout="column">
          <strong>{{ uploadFiles.realNames[$index] }}: <a ng-href = "{{file}}">Link</a></strong>
        </div>
      </md-list-item>
    </md-list>

  </md-content><!-- /PREVIEW SKILLS -->



  <!-- FORM SKILLS -->
  <md-content
    ng-hide="uploadFiles.disabledUpload"
    class="md-padding">

    Drop File:
    <div ngf-drop ngf-select ng-model="files" class="drop-box"
        ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
        ngf-pattern="'.doc,.docx,.pdf,.jpg,.png,.jpeg'">Drop docs, pdfs or images here or click to upload</div>

    <md-list layout="column" layout-wrap>
      <md-list-item
        ng-repeat="f in files track by $index">
        <div class="md-list-item-text" layout="column">
          <strong>{{f.name}}</strong>
          <input
          ng-model="uploadFiles.realNames[uploadFiles.indexVal + $index]"
          name="fileName"
          ng-show="uploadFiles.showInput">
        </div>
      </md-list-item>
    </md-list>



  </md-content><!-- /FORM SKILLS -->




  <!-- CARD ACTIONS -->
  <md-card-actions
    layout="column"
    layout-align="start"
    ng-show="uploadFiles.disabledUpload">
    <md-button
      class="c-card-profile__btn no-margin"
      ng-click="uploadFiles.changeView()">
      Add File
    </md-button>
  </md-card-actions>

  <md-card-actions
    layout="row"
    layout-align="center center"
    ng-show="!uploadFiles.disabledUpload"
    class="additional">

    <md-button
      class="md-raised md-primary"
      ng-click="uploadFiles.saveEmployee(uploadFiles.employee)"
      ng-hide="uploadFiles.disabledUpload">
      Save
    </md-button>

    <md-button
      class="md-raised"
      ng-click="uploadFiles.disabledUpload = true"
      ng-hide="uploadFiles.disabledUpload">
      Cancel
    </md-button>

  </md-card-actions><!-- CARD ACTIONS -->

</md-card>
