<section class="c-dashboard-container">
  <md-content class="md-padding" layout-sm="column" layout="row">

    <section flex-xs="" flex-gt-sm="50" layout="column">

      <hra-card card="{
        'type': 'employee',
        'title': 'Employees',
        'url': 'employeesParent.list',
        'description': 'Employees description and other info.'
      }">
      </hra-card>

      <hra-card card="{
        'type': 'project',
        'title': 'Projects',
        'url': 'projectsParent.list',
        'description': 'Projects description and other info.'
      }">
      </hra-card>

      <hra-card card="{
        'type': 'skills',
        'title': 'Technologies',
        'url': 'skillsParent.list',
        'description': 'Skills description and other info.'
      }">
      </hra-card>

    </section>

    <section flex-xs="" flex-gt-sm="50" layout="column">

      <hra-card card="{
        'type': 'holiday',
        'title': 'Holidays',
        'url': 'holidayParent.list',
        'description': 'Holidays description and other info.'
      }">
      </hra-card>

      <hra-card card="{
        'type': 'equipment',
        'title': 'Equipments',
        'url': 'equipmentsParent.list',
        'description': 'Equipments description and other info.'
      }">
      </hra-card>

    </section>


  </md-content>
</section>

