<section layout="column" md-whiteframe = '6'>



  <!-- TITLE -->
  <md-toolbar
    class="md-table-toolbar md-default"
    layout="row"
    layout-align="space-between center">

    <div class="md-toolbar-tools">

      <div class="md-title">
        Holidays
        <md-button
          class="md-primary"
          label="Toggle filters"
          aria-label="Toggle filters"
          ng-click="filterSwitch = !filterSwitch">
          <md-icon class="material-icons">filter_list</md-icon>
          <md-tooltip md-autohide="true">
            Toggle filters
          </md-tooltip>
        </md-button>
      </div>

      <div flex="" class="flex"></div>

      <div layout="row" layout-align="right">
        <md-button
          md-no-ink
          class="md-primary"
          ng-click="holidays.showFormDialog($event, {})">
          Add Holiday
        </md-button>
      </div>

    </div>

  </md-toolbar><!-- /TITLE -->




  <md-divider class="md-padding divider-bold u-no-padding"></md-divider>

  <!-- AUTOCOMPLETE SEARCH -->
  <md-content class="md-padding">
    <form ng-submit="$event.preventDefault()">
      <md-autocomplete
        ng-disabled = "holidays.isDisabled"
        md-selected-item="holidays.selectedItem"
        md-search-text-change="holidays.searchTextChange(holidays.searchText)"
        md-search-text="holidays.searchText"
        md-selected-item-change="holidays.selectedItemChange(item)"
        md-items="item in holidays.querySearch(holidays.searchText)"
        md-item-text="item.first_name+' '+item.last_name"
        md-min-length="0"
        placeholder="Search for an employee">

        <md-item-template>
          <span class="item-metadata">
            <span>{{item.first_name}} {{item.last_name}}</span>
        </md-item-template>

      </md-autocomplete>
    </form>
  </md-content><!-- /AUTOCOMPLETE SEARCH -->


   <!-- SELECTED ROWS -->
  <md-toolbar
    class="md-table-toolbar alternate"
    ng-show="holidays.table.options.rowSelection && holidays.table.selected.length">
    <div class="md-toolbar-tools">
      <span>
        {{holidays.table.selected.length}} {{holidays.table.selected.length > 1 ? 'holidays' : 'holiday'}} selected
      </span>
    </div>
  </md-toolbar> <!-- SELECTED ROWS -->




  <!-- ALL FILTERS -->
  <md-content ng-show="filterSwitch"  class="md-padding c-filters">




    <md-button
      class="md-warn"
      label="Reset all filters"
      aria-label="Reset all filters"
      ng-click="holidays.resetFilters()">
      <md-icon class="material-icons">autorenew</md-icon>
      Reset filters
      <md-tooltip md-autohide="true">
        Reset all filters
      </md-tooltip>
    </md-button>




    <!-- FILTER BY PERIOD -->
    <form ng-submit="$event.preventDefault()"
      novalidate name="searchPeriod">
      <section layout="row" layout-align="left center">

        <md-datepicker
          required
          ng-model="holidays.dateList.from"
          md-placeholder="Start date"
          ng-disabled="holidays.disabledPeriod"
          ng-change="holidays.checkDates()"
          md-open-on-focus>
        </md-datepicker>

        <md-datepicker
          required
          ng-model="holidays.dateList.to"
          md-placeholder="End date"
          ng-disabled="holidays.disabledPeriod"
          ng-change="holidays.checkDates()"
          md-open-on-focus>
        </md-datepicker>

        <md-button
          class="md-primary"
          ng-click="holidays.searchPeriodFilter()"
          ng-disabled="searchPeriod.$invalid || holidays.validateDate || holidays.disabledPeriod">
          Search Period
        </md-button>

      </section><!-- /FILTER BY PERIOD -->

      <section ng-show="holidays.validateDate" layout-gt-xs="row" 
        layout-align="left center"  flex-gt-xs="50">
        <span class="alert-error fade"
        role="alert">
          End date must be greater than Start date!
        </span>
      </section>
    </form>


    <!-- FILTER BY MONTH -->
    <form ng-submit="$event.preventDefault()"
      novalidate name="searchFilter">
      <section layout="row" layout-align="left center" class="md-padding">

        <md-input-container md-no-float>
          <md-select
            aria-label="month"
            ng-model="holidays.selectedMonth"
            placeholder="Pick a Month"
            md-selected-text="holidays.selectedMonthDate(holidays.selectedMonth)"
            ng-disabled="holidays.disabledMonth"
            required>

            <md-optgroup label="Months">
              <md-option
                value="{{month}}"
                ng-repeat="month in holidays.monthsList track by $index">
                {{month}}
              </md-option>
            </md-optgroup>
          </md-select>
        </md-input-container>

        <md-button
          class="md-primary"
          ng-click="holidays.searchFilter()"
          ng-disabled="searchFilter.$invalid || holidays.disabledMonth">
          Search by Month
        </md-button>

      </section><!-- FILTER BY MONTH -->
    </form>



  </md-content><!-- /ALL FILTERS -->

  <md-divider class="md-padding divider-bold u-no-padding"></md-divider>




   <!--TABLE HOLIDAYS -->
  <md-table-container>
    <table
      class="c-table--actions"
      md-table
      md-row-select="holidays.table.options.rowSelection"
      multiple="{{holidays.table.options.multiSelect}}"
      ng-model="holidays.table.selected"
      md-progress="promise">

      <thead
        ng-if="!holidays.table.options.decapitate"
        md-head
        md-order="holidays.table.query.order">
        <tr md-row>
        <th md-column ></th>
          <th md-column md-order-by="employee">Employee</th>
          <th md-column md-order-by="startDate">Start Date</th>
          <th md-column md-order-by="endDate">End Date</th>
          <th md-column md-order-by="days">No. of days</th>
          <th md-column md-order-by="signing_day">Signing Date</th>
          <!--<th md-column>Nr. of days</th>-->
          <th md-column>Actions</th>
        </tr>
      </thead>

      <tbody md-body>
        <tr
          md-row
          md-select="holiday"
          md-on-select="logItem"
          md-auto-select="holidays.options.autoSelect"
          ng-repeat="holiday in holidays.holidays | filter:holidays.searchText | orderBy: holidays.table.query.order | limitTo: holidays.table.query.limit : (holidays.table.query.page - 1) * holidays.table.query.limit track by $index">
          <td md-cell>
            {{$index + 1}}
          </td>
          <td md-cell>
            {{holiday.employee}}
          </td>

          <td md-cell>
            {{holiday.startDate}}
          </td>

          <td md-cell>
            {{holiday.endDate}}
          </td>

          <td md-cell>
            {{holiday.days}}
          </td>

          <td md-cell>{{holiday.signing_day | date: 'd MMM, y'}}</td>

          <!--<td md-cell>{{ holiday.days }}</td>-->

          <td md-cell>
            <md-button
              class="md-icon-button md-primary"
              label="View Holiday"
              aria-label="View Holiday"
              ui-sref="holidayParent.details({id: holiday.holidayId})">
              <md-icon class="material-icons">visibility</md-icon>
              <md-tooltip md-autohide="true">
                View Holiday
              </md-tooltip>
            </md-button>

            <!--<md-button
              class="md-icon-button md-primary"
              label="Edit holiday"
              aria-label="Edit holiday"
              ng-click="holidays.showFormDialog($event, holiday, $index)">
              <md-icon class="material-icons">create</md-icon>
              <md-tooltip md-autohide="true">
                Edit holiday
              </md-tooltip>
            </md-button>-->

            <!--<md-button-->
              <!--class="md-icon-button md-primary md-warn"-->
              <!--label="Remove holiday"-->
              <!--aria-label="Remove holiday"-->
              <!--ng-click="holidays.deleteConfirm($event, holiday, holiday.id)">-->
              <!--<md-icon class="material-icons">delete</md-icon>-->
              <!--<md-tooltip md-autohide="true">-->
                <!--Remove holiday-->
              <!--</md-tooltip>-->
            <!--</md-button>-->

          </td>

        </tr>
      </tbody>

    </table>
  </md-table-container><!-- /TABLE HOLIDAYS -->


  <!-- TABLE PAGINATION -->
  <md-table-pagination
    md-limit="holidays.table.query.limit"
    md-limit-options="holidays.table.limitOptions"
    md-page="holidays.table.query.page"
    md-total="{{holidays.holidays.length}}"
    md-page-select="holidays.table.options.pageSelect"
    md-boundary-links="holidays.table.options.boundaryLinks">
  </md-table-pagination><!-- TABLE PAGINATION -->




  <!-- TEMPLATES -->
  <script type="text/ng-template" id="holidayForm.tmpl.html">
    <hra-holiday-form
      md-whiteframe = '6'
      holiday = "holidayM.holiday"
      holidayIndex = "holidayM.holidayIndex"
      form-title = "holidayM.formTitle">
    </hra-holiday-form>
  </script>

  <script type="text/ng-template" id="holidayJsonForm.tmpl.html">
    <section layout="column">

      <md-toolbar class="md-table-toolbar">
        <div class="md-toolbar-tools ">
          Add holiday from JSON
        </div>
      </md-toolbar>

      <section class="md-padding">

        <form name="holidayjsonform" class="form md-inline-form">
          <textarea class="save-from-json" ng-model="holidayJsonM.json" placeholder="Paste json here">
          </textarea>
        </form>

        <!-- Actions buttons -->
        <div layout="row" layout-align="center center">

          <md-button
            class="md-raised md-primary"
            ng-click="holidayJsonM.saveFromJson(holidayJsonM.json)">
            Save
          </md-button>

          <md-button
            class="md-raised md-primary"
            ng-click="holidayJsonM.clearFields()">
            Clear
          </md-button>

          <md-button
            class="md-raised"
            ng-click="holidayJsonM.closeDialog()">
            Close
          </md-button>

        </div><!-- /Actions buttons -->

      </section>

    </section>
  </script>
  <!-- /TEMPLATES -->




</section>


