<section class="md-padding">

	<form name="employeejsonform" class="form md-inline-form">
		<textarea class="save-from-json" ng-model="addJson.json" placeholder="Paste json here">
		</textarea>
	</form>




	<!-- Actions buttons -->
	<div layout="row" layout-align="center center">
		<md-button
		class="md-raised md-primary"
		ng-click="addJson.saveFromJson(addJson.json)">
		Save
		</md-button>
		<md-button
		class="md-raised md-primary"
		ng-click="addJson.clearFields()">
		Clear
		</md-button>
		<md-button
		class="md-raised"
		ng-click="addJson.closeDialog()">
		Close
		</md-button>
	</div><!-- /Actions buttons -->
</section>