<md-card>

	<!-- CARD TITLE -->
  <md-card-title>
	   <md-card-title-text>
	     <span class="md-headline">General informations</span>
			 <p class="u-font-small u-no-margin">
			 <!-- TODO  implement Last Update at on API-->
        <!-- <strong>Last Update at: {{prjGeneral.project.updatedAt | date: longDate}}</strong> -->
      </p>
	   </md-card-title-text>
  </md-card-title>
	<!-- CARD TITLE -->




  <!-- CARD NOTES -->
  <md-content class="c-card-profile__notes">
    <p>
      <strong>NOTE: </strong>Complete here with general information  of this project.
    </p>
  </md-content> 
  <!-- CARD NOTES -->




  <!-- PREVIEW GENERAL INFO -->
  <md-content
  	ng-show="!prjGeneral.showForm"
    class="c-card-profile__preview">

   	<section layout-gt-xs="row">

     <div flex="100" class="c-card-profile__general-info">

       <div class="c-card-profile__info c-card-profile__name">
        <strong>Name: </strong>
         {{prjGeneral.project.name}}
       </div>

       <div class="c-card-profile__info c-card-profile__description">
         <strong>Description: </strong>
         <p ng-bind-html="prjGeneral.project.description"></p>
       </div>

       <div class="c-card-profile__info c-card-profile__date">
         <strong>Start date: </strong>{{prjGeneral.project.start_date | date:'dd MMMM, yyyy'}}
       </div>

       <div class="c-card-profile__info c-card-profile__date">
         <strong>End Date: </strong>
         {{prjGeneral.project.end_date | date:'dd MMMM, yyyy'}}
       </div>

     </div>

    </section>
  </md-content>
  <!-- /PREVIEW GENERAL INFO -->





	<!-- EDIT PROJECT FORM -->
	<form ng-submit="$event.preventDefault()" 
		novalidate 
		name="editProjectForm">

		<md-content
			class="md-padding"
			ng-show="prjGeneral.showForm">

			<!-- Name -->
			<div layout-gt-xs="row">
			  <md-input-container md-no-float class="md-block" flex-gt-xs="">

				  <label>Name</label>
				  <input ng-model="prjGeneral.project.name" 
				  	name="projectName" 
				  	required>
				  <div ng-messages="editProjectForm.projectName.$error">
				    <div ng-message="required">This field is required</div>
				  </div>

			  </md-input-container>
			</div><!-- /Name -->


			<!-- Description -->
			<div layout-gt-xs="row">
			  <md-input-container md-no-float class="md-block" flex-gt-xs="">

			    <label>Description</label>
		      <textarea
	          ng-model="prjGeneral.project.description"
	          name="description"
	          required>
	        </textarea>
					<div ng-messages="editProjectForm.description.$error">
				    <div ng-message="required">This field is required</div>
				  </div>

			  </md-input-container>
			</div>
			<!-- /Description -->


			<!-- Start date/ Deadline -->
			<section layout-gt-xs="row" layout-align="start center">
				<div flex-gt-xs="50">
			    <label class="u-ml-5">Start date*</label>
			    <md-datepicker
			      ng-model="prjGeneral.project.start_date"
			      md-placeholder="Enter date"
			      ng-change="prjGeneral.checkDates()"
			      required>
			    </md-datepicker>
				</div>

				<div flex-gt-xs="50">
			    <label class="u-ml-5">End date*</label>
			    <md-datepicker
			      ng-model="prjGeneral.project.end_date"
			      md-placeholder="Enter date"
			      ng-change="prjGeneral.checkDates()"
			      required>
			    </md-datepicker>
				</div>

			</section>

			<div ng-show="prjGeneral.validateDate" 
				layout-gt-xs="row" layout-align="center center">
        <span class="alert alert-info fade"
        role="alert">
          End date must be greater than Start date!
        </span>
      </div>
      <!-- /Start date/ end date -->

		</md-content>


		<!-- CARD ACTIONS-->
		<md-card-actions
		  layout="column"
		  layout-align="start"
		  ng-show="!prjGeneral.showForm">
		  <md-button
		    class="c-card-profile__btn no-margin"
		    ng-click="prjGeneral.toggleForm()">
		    Add/Edit general information
		  </md-button>
		</md-card-actions>


		<md-card-actions
		  layout="row"
		  layout-align="center center"
		  ng-show="prjGeneral.showForm"
		  class="additional">

		  <md-button
		    class="md-raised md-primary"
		    ng-click="prjGeneral.save()"
		    ng-disabled="editProjectForm.$invalid || prjGeneral.validateDate">
		    Save
		  </md-button>

		  <md-button
		    class="md-raised"
		    ng-click="prjGeneral.cancel()">
		    Cancel
		  </md-button>
		</md-card-actions>
		<!-- /CARD ACTIONS-->

	</form>
	<!-- EDIT PROJECT FORM -->

</md-card>
