<!-- CARD EDUCATION -->
<md-card>





  <!-- CARD TITLE -->
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Education</span>
    </md-card-title-text>
  </md-card-title><!-- /CARD TITLE -->






  <!-- CARD NOTES -->
  <md-content class="c-card-profile__notes">
    <p>
      <strong>NOTE: </strong>Complete here with your education experience.
    </p>
  </md-content> <!-- CARD NOTES -->






  <!-- PREVIEW EDUCATION -->
  <md-content
    ng-show="employeeEducation.disabledEducations"
    class="c-card-profile__preview">
    <md-list layout="row" layout-wrap>
      <md-list-item
        flex="50"
        class="md-2-line"
        ng-repeat="education in employeeEducation.educationIncrement track by $index">
        <div class="md-list-item-text" layout="column">
           <h4>{{education.school}}</h4>
           <p>{{education.diploma}}</p>
           <p>{{education.field}}</p>
           <p>{{education.from | date:'longDate'}}</p>
           <p>{{education.to | date:'longDate'}}</p>
        </div>
      </md-list-item>
    </md-list>
  </md-content><!-- /PREVIEW EDUCATION -->





  <!-- FORM EDUCATION -->
  <md-content
    ng-show="!employeeEducation.disabledEducations"
    class="md-padding">

    <!-- CARD GROUP  -->
    <section
      layout='column'
      class="md-padding c-card-group"
      ng-repeat="education in employeeEducation.educationIncrement track by $index">





      <!-- REMOVE EDUCATION -->
      <md-button
        class="md-fab md-mini md-warn c-card-group__remove"
        ng-click="employeeEducation.removeEducation($index)"
        ng-disabled = "employeeEducation.disabledEducations">
        <md-icon class="material-icons">delete</md-icon>
        <md-tooltip>Remove education</md-tooltip>
      </md-button><!-- /REMOVE EDUCATION -->





      <!-- SCHOOL -->
      <section layout='row'>
        <md-input-container md-no-float class="md-block" flex-gt-xs="100">
          <label>School</label>
          <input
            ng-model="employeeEducation.educationList[$index].school"
            ng-disabled ="employeeEducation.disabledEducations">
        </md-input-container>
      </section><!-- /SCHOOL -->






      <!-- FIELD OF STUDY -->
      <section layout='row'>
        <md-input-container md-no-float class="md-block" flex-gt-xs="">
          <label>Field of Study</label>
          <input
            ng-model="employeeEducation.educationList[$index].field"
            ng-disabled ="employeeEducation.disabledEducations">
        </md-input-container>
      </section><!-- /FIELD OF STUDY -->





      <!-- DIPLOMA  -->
      <section layout='row'>
        <md-input-container md-no-float class="md-block" flex-gt-xs="">
          <label>Diploma</label>
          <input
            ng-model="employeeEducation.educationList[$index].diploma"
            ng-disabled ="employeeEducation.disabledEducations">
        </md-input-container>
      </section><!-- DIPLOMA -->





      <!-- PERIOD -->
      <section layout-gt-xs="row" layout-align="center center" class="u-mb-20">

        <div flex-gt-xs="50">
          <label class="u-ml-5">From*</label>
          <hra-date-select
            show-months="true"
            orientation="vertical"
            initial-date="employeeEducation.educationDates[$index].from"
            ng-model="employeeEducation.educationDates[$index].from">
          </hra-date-select>
        </div>

        <div flex-gt-xs="50">
          <label class="u-ml-5">To*</label>
          <hra-date-select
            flex-gt-xs="50"
            show-months="true"
            orientation="vertical"
            initial-date="employeeEducation.educationDates[$index].to"
            ng-model="employeeEducation.educationDates[$index].to">
          </hra-date-select>
        </div>

      </section><!-- /PERIOD -->





    </section><!-- CARD GROUP  -->

    <section class="md-padding">
      <md-button
        md-no-ink
        class="md-primary small-text"
        ng-click="employeeEducation.addNewEducation()">
        Add New
      </md-button>
    </section>

  </md-content><!-- /FORM EDUCATION -->





  <!-- CARD ACTIONS -->
  <md-card-actions
    layout="column"
    layout-align="start"
    ng-show="employeeEducation.disabledEducations">
    <md-button
      class="c-card-profile__btn no-margin"
      ng-click="employeeEducation.changeEducationView(); employeeEducation.toggleCard($event, 'open')"
      ng-disabled="btnIsDisabled">
      Add Educations
    </md-button>
  </md-card-actions>

  <md-card-actions
    layout="row"
    layout-align="center center"
    ng-show="!employeeEducation.disabledEducations"
    class="additional">

    <md-button
      class="md-raised md-primary"
      ng-click="employeeEducation.saveEmployee(employeeEducation.employee); employeeEducation.toggleCard($event, 'close')"
      ng-hide="employeeEducation.disabledEducations">
      Save
    </md-button>

    <md-button
      class="md-raised"
      ng-click="employeeEducation.cancelAdd(); employeeEducation.toggleCard($event, 'close')"
      ng-hide="employeeEducation.disabledEducations">
      Cancel
    </md-button>

  </md-card-actions>
  <!-- /CARD ACTIONS -->





</md-card><!-- /CARD EDUCATION -->
