<section class="c-section">



  <md-card> <!-- Skill details -->

    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Skill Details</span>
      </md-card-title-text>
    </md-card-title>

    <md-content
      class="md-padding"
      class="c-card-profile">

      <section
        layout-gt-xs="column"
        layout-align="start left"
        class="md-padding section-group">

        <div class="md-list-item-text">
          Name: {{ technologyDetails.technology.name }}
        </div>
        <div class="md-list-item-text" ng-if="technologyDetails.technology.label">
          Description: {{ technologyDetails.technology.label }}
        </div>

      </section>

    </md-content>

  </md-card><!-- /Skill details -->



  <md-card> <!-- Employee list -->

    <md-card-title>
     <md-card-title-text>
       <span class="md-headline">Employees with this skill</span>
     </md-card-title-text>
    </md-card-title>

    <md-content
      class="md-padding">

      <section
        layout-gt-xs="column"
        layout-align="start left"
        class="md-padding section-group">

        <div class="md-list-item-text"
             ng-repeat="employee in technologyDetails.usersTech track by $index">
         {{$index+1}}. {{employee.first_name}} {{employee.last_name}}
        </div>

      </section>

    </md-content>

  </md-card> <!-- /Employee list -->



  <!--<md-card> &lt;!&ndash; Candidate list &ndash;&gt;-->

    <!--<md-card-title>-->
      <!--<md-card-title-text>-->
        <!--<span class="md-headline">Candidates with this skill</span>-->
      <!--</md-card-title-text>-->
    <!--</md-card-title>-->

    <!--<md-content-->
      <!--class="md-padding">-->

      <!--<section-->
        <!--layout-gt-xs="column"-->
        <!--layout-align="start left"-->
        <!--class="md-padding section-group">-->

        <!--<div class="md-list-item-text"-->
        <!--ng-repeat="candidate in technologyDetails.candidates">-->
         <!--{{$index+1}}. {{candidate.firstName}} {{candidate.lastName}}-->
        <!--</div>-->

      <!--</section>-->

    <!--</md-content>-->

  <!--</md-card>&lt;!&ndash; /Candidate list &ndash;&gt;-->



  <md-card> <!-- Project list -->

    <md-card-title>
     <md-card-title-text>
       <span class="md-headline">Projects with this skill</span>
     </md-card-title-text>
    </md-card-title>

    <md-content
      class="md-padding">

      <section
        layout-gt-xs="column"
        layout-align="start left"
        class="md-padding section-group">

        <div class="md-list-item-text"
        ng-repeat="project in technologyDetails.projectsTech track by $index">
         {{$index+1}}. {{project.name}}
        </div>

      </section>

    </md-content>

  </md-card> <!-- /Project list -->



</section>





