<!-- CARD HOLIDAYS -->
<md-card>

  <!-- CARD TITLE -->
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Holidays</span>
    </md-card-title-text>
  </md-card-title><!-- /CARD TITLE -->


  <!-- CARD NOTES -->
  <md-content class="c-card-profile__notes">
    <p>
      <strong>NOTE: </strong> Complete here your vacation requests.
    </p>
  </md-content> <!-- CARD NOTES -->


  <!-- PREVIEW HOLIDAY -->
  <md-content  class="md-padding"
               ng-show="!employeeHoliday.displayOrHide">
      <md-table-container>

          <table class="c-table--actions"
                 md-table
                 md-progress="promise">

              <thead md-head
                     md-order="query.order">
                  <tr md-row>
                      <th md-column>No</th>
                      <th md-column>Start date</th>
                      <th md-column>End date</th>
                      <th md-column>Number of days</th>
                      <th md-column>Action</th>
                  </tr>
              </thead>

              <tbody md-body>
                  <tr md-row
                      md-select="holiday"
                      md-auto-select
                      ng-repeat="holiday in employeeHoliday.userHolidays track by $index  | limitTo: employeeHoliday.holidaysTable.limit">

                      <td md-cell>
                          #{{$index +1}}
                      </td>

                      <td md-cell>
                          {{holiday.start_date}}
                      </td>

                      <td md-cell>
                          {{holiday.end_date}}
                      </td>

                      <td md-cell>
                          {{holiday.days}}
                      </td>

                      <td md-cell>
                          <md-button class="md-icon-button md-primary"
                                     label="View Holiday"
                                     aria-label="View Holiday"
                                     ui-sref="holidayParent.details({id: holiday.holiday_id})">
                              <md-icon class="material-icons">visibility</md-icon>
                              <md-tooltip md-autohide="true">
                                  View Holiday
                              </md-tooltip>
                          </md-button>

                      </td>

                  </tr>
              </tbody>

          </table>

      </md-table-container>
      <md-table-pagination md-limit="employeeHoliday.holidaysTable.limit"
                           md-page="employeeHoliday.holidaysTable.page"
                           md-total="{{employeeHoliday.userHolidays.length}}"
                           md-page-select>

      </md-table-pagination>
  </md-content><!-- /PREVIEW HOLIDAY -->





  <!-- FORM HOLIDAY -->
  <md-content ng-show="employeeHoliday.displayOrHide" class="md-padding">
    <section layout='column'>


      <!-- SELECT PERIOD -->
      <section
              class="u-mb-20 u-mt-20"
              layout="row"
              layout-align="start center">

        <md-datepicker ng-model="employeeHoliday.signingDate"
                       md-placeholder="Signing date"
                       md-open-on-focus
                       required>
        </md-datepicker>

        <md-datepicker ng-model="employeeHoliday.from"
                       md-placeholder="Start date"
                       md-open-on-focus
                       required>
        </md-datepicker>

        <md-datepicker ng-model="employeeHoliday.to"
                       md-placeholder="End date"
                       md-open-on-focus
                       required>
        </md-datepicker>

        <md-button class="md-raised md-primary"
                   ng-click="employeeHoliday.addEmptyInterval()">
            Add Date
        </md-button>

      </section><!-- /SELECT PERIOD -->


      <!-- SELECT PROJECT AND REPLACEMENT -->
      <section layout-gt-xs="row">

        <div flex="50" layout-fill class="md-padding">
          <div layout="column" layout-align="start start" layout-fill>

            <!-- SELECT REPLACEMENT PROJECT -->
            <div class="md-block u-mb-20"
              layout-fill>
              <form ng-submit="$event.preventDefault()">
                <md-autocomplete ng-disabled="employeeHoliday.isDisabled"
                                 ng-model="employeeHoliday.searchProj"
                                 md-selected-item="employeeHoliday.selectedProj"
                                 md-search-text-change="employeeHoliday.searchProjChange(employeeHoliday.searchProj)"
                                 md-search-text="employeeHoliday.searchProj"
                                 md-selected-item-change="employeeHoliday.selectedProjChange(item)"
                                 md-items="project in employeeHoliday.queryProjectSearch(employeeHoliday.searchProj)"
                                 md-item-text="project.name"
                                 md-min-length="0"
                                 placeholder="Select an project">

                  <md-item-template >
                    <span class="item-metadata">
                      {{project.name}}
                    </span>
                  </md-item-template>

                </md-autocomplete>
              </form>
            </div><!-- /SELECT REPLACEMENT PROJECT -->

          </div>
        </div>

        <div flex="50" layout-fill class="md-padding">
          <div layout="column" layout-align="start start" layout-fill>

            <!-- SELECT REPLACEMENT EMPLOYEE -->
            <div class="md-block u-mb-20" layout-fill>
              <form ng-submit="$event.preventDefault()">
                <md-autocomplete ng-disabled="employeeHoliday.isDisabled"
                                 ng-model="employeeHoliday.searchUser"
                                 md-selected-item="employeeHoliday.selectedUser"
                                 md-search-text-change="employeeHoliday.searchUserChange(employeeHoliday.searchUser)"
                                 md-search-text="employeeHoliday.searchUser"
                                 md-selected-item-change="employeeHoliday.selectedUserChange(item)"
                                 md-items="user in employeeHoliday.queryUserSearch(employeeHoliday.searchUser)"
                                 md-item-text="user.first_name +' '+ user.last_name"
                                 md-min-length="0"
                                 placeholder="Select an employee">

                  <md-item-template >
                    <span class="item-metadata">
                      {{user.first_name}} {{user.last_name}}
                    </span>
                  </md-item-template>

                </md-autocomplete>
              </form>
            </div><!-- /SELECT REPLACEMENT EMPLOYEE -->

          </div>
        </div>

        <md-button class="md-button md-primary"
                   ng-click="employeeHoliday.addEmptyReplacement()">
            Add Project
        </md-button>

      </section><!-- SELECT PROJECT AND REPLACEMENT -->


    </section><!-- /HOLIDAYS ng-repeat -->


  </md-content><!-- /FORM HOLIDAY -->


  <!-- CARD ACTIONS -->
  <md-card-actions layout="column" layout-align="start">
    <md-button class="c-card-profile__btn no-margin"
               ng-click="employeeHoliday.displayForm()"
               ng-disabled="btnIsDisabled"
               ng-show="!employeeHoliday.displayOrHide">
      Add Holiday
    </md-button>
  </md-card-actions>

  <md-card-actions layout="row"
                   layout-align="center center"
                   ng-show="employeeHoliday.displayOrHide"
                   class="additional">

    <md-button class="md-raised md-primary"
               ng-click="employeeHoliday.saveHoliday()">
      Save
    </md-button>

    <md-button class="md-raised"
               ng-click="employeeHoliday.displayForm()">
      Close
    </md-button>

  </md-card-actions><!-- /CARD ACTIONS -->


</md-card><!-- CARD HOLIDAYS -->
