<!-- CARD HOLIDAYS -->
<md-card>





  <!-- CARD TITLE -->
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Holidays</span>
    </md-card-title-text>
  </md-card-title><!-- /CARD TITLE -->





  <!-- CARD NOTES -->
  <md-content class="c-card-profile__notes">
    <p>
      <strong>NOTE: </strong> Complete here your vacation requests.
    </p>


      <pre>{{employeeHoliday.userHolidays | json}}</pre>

  </md-content> <!-- CARD NOTES -->


  <!-- PREVIEW HOLIDAY -->
  <md-content
    ng-show="!employeeHoliday.showForm"
    class="c-card-profile__preview">

    <table
      class=""
      md-table
      ng-show="employeeHoliday.employee.holidays.length > 0"
      md-row-select="employeeHoliday.table.options.rowSelection"
      multiple="{{employeeHoliday.table.options.multiSelect}}"
      ng-model="employeeHoliday.table.selected"
      md-progress="promise">

      <thead
        ng-if="!employeeHoliday.table.options.decapitate"
        md-head
        md-order="employeeHoliday.query.order">
        <tr md-row>
          <th md-column>Period</th>
          <th md-column>Project</th>
          <th md-column>Replacement</th>
          <th md-column></th>
        </tr>
      </thead>

      <tbody md-body>
        <tr
          md-row
          md-select="holiday"
          md-on-select="logItem"
          md-auto-select="employeeHoliday.options.autoSelect"
          ng-repeat="holiday in employeeHoliday.employee.holidays track by $index">

          <td md-cell>

            <p class="u-no-margin">
              <strong>Signed:</strong>  {{holiday.signingDate | date: 'MMM d, y'}}
            </p>

            <strong>({{holiday.days}}) Days</strong>

            <ul class="c-list">
              <li ng-repeat = "item in holiday.intervals">
                <strong>From:</strong> {{item.from | date: 'MMM d, y' }}
                -
                <strong>To:</strong> {{item.to | date: 'MMM d, y'}}
                <hr ng-show="holiday.period.length > 1">
              </li>
            </ul>

          </td>

          <td md-cell>
            <ul class="c-list">
              <li ng-repeat="item in holiday.replacementProjects track by $index">

                <p class="u-no-margin u-uppercase">
                  <strong>{{ item.name }}</strong>
                </p>

                <p class="u-no-margin">
                  {{item.employee.firstName + " " + item.employee.lastName}}
                </p>

              </li>
            </ul>
          </td>

          <td md-cell>
            <ul class="c-list">
              <li ng-repeat="item in holiday.replacementEmployees track by $index">
                <p class="u-no-margin">
                  {{ item.firstName + " " + item.lastName }}
                </p>
              </li>
            </ul>
          </td>

          <td md-cell>

            <md-button
              class="md-icon-button md-primary"
              label="View holiday details"
              aria-label="View holiday details"
              ui-sref="employeesParent.holiday({id: employeeHoliday.employee.id, holidayIndex:holiday.id})">
              <md-icon class="material-icons">visibility</md-icon>
              <md-tooltip md-autohide="true">
                View holiday details
              </md-tooltip>
            </md-button>

            <md-button
              class="md-icon-button md-primary"
              label="Edit holiday details"
              aria-label="Edit holiday details"
              ng-click="employeeHoliday.editHoliday(holiday)">
              <md-icon class="material-icons">edit</md-icon>
              <md-tooltip md-autohide="true">
                Edit holiday details
              </md-tooltip>
            </md-button>

            <md-button
              class="md-icon-button md-warn"
              label="Delete holiday"
              aria-label="Delete holiday"
              ng-click="employeeHoliday.removeHoliday(holiday)">
              <md-icon class="material-icons">delete</md-icon>
              <md-tooltip md-autohide="true">
                Delete holiday
              </md-tooltip>
            </md-button>

          </td>

        </tr>
      </tbody>

    </table>

  </md-content><!-- /PREVIEW HOLIDAY -->





  <!-- FORM HOLIDAY -->
  <md-content ng-show="employeeHoliday.showForm" class="md-padding">
    <section layout='column'>


      <!-- SELECT PERIOD -->
      <section
              class="u-mb-20 u-mt-20"
              layout="row"
              layout-align="start center"
              ng-repeat="interval in employeeHoliday.currentHoliday.intervals track by $index">

        <md-datepicker ng-model="employeeHoliday.currentHoliday.signingDate"
                       md-placeholder="Signing date"
                       md-open-on-focus
                       required>
        </md-datepicker>

        <md-datepicker ng-model="interval.from"
                       md-placeholder="Start date"
                       md-open-on-focus
                       required>
        </md-datepicker>

        <md-datepicker ng-model="interval.to"
                       md-placeholder="End date"
                       md-open-on-focus
                       required>
        </md-datepicker>

        <md-button class="md-raised md-primary"
                   ng-click="employeeHoliday.addEmptyInterval()">
            Add Date
        </md-button>

      </section><!-- /SELECT PERIOD -->





      <!-- SELECT PROJECT AND REPLACEMENT -->
      <section layout-gt-xs="row">

        <div flex="50" layout-fill class="md-padding">
          <div layout="column" layout-align="start start" layout-fill>

            <!-- SELECT REPLACEMENT PROJECT -->
            <div class="md-block u-mb-20"
              layout-fill
              ng-repeat="replacement in employeeHoliday.currentHoliday.replacementProjects track by $index">
              <form ng-submit="$event.preventDefault()">
                <md-autocomplete
                  md-no-cache="true"
                  md-selected-item="replacement"
                  md-search-text-change="employeeHoliday.searchTextChange(employeeHoliday.searchProjectHold[$index])"
                  md-selected-item-change="employeeHoliday.addReplacementProject(item, $index)"
                  md-items="item in employeeHoliday.querySearchProject(employeeHoliday.searchProjectHold[$index])"
                  md-item-text="item.name"
                  md-min-length="0"
                  placeholder="Select an project">

                  <md-item-template >
                    <span class="item-metadata">
                      {{item.name}}
                    </span>
                  </md-item-template>

                </md-autocomplete>
              </form>
            </div><!-- /SELECT REPLACEMENT PROJECT -->

          </div>
        </div>

        <div flex="50" layout-fill class="md-padding">
          <div layout="column" layout-align="start start" layout-fill>

            <!-- SELECT REPLACEMENT EMPLOYEE -->
            <div class="md-block u-mb-20"
              layout-fill
              ng-repeat="replacementEmployee in employeeHoliday.currentHoliday.replacementEmployees track by $index">
              <form ng-submit="$event.preventDefault()">
                <md-autocomplete
                  md-no-cache="true"
                  md-selected-item="replacementEmployee"
                  md-search-text-change="employeeHoliday.searchTextChange(employeeHoliday.searchRepEmpHold[$index])"
                  md-selected-item-change="employeeHoliday.addReplacementEmployee(item, $index)"
                  md-items="item in employeeHoliday.querySearchEmployee(employeeHoliday.searchRepEmpHold[$index])"
                  md-item-text="item.firstName + ' ' + item.lastName"
                  md-min-length="0"
                  placeholder="Select an employee">

                  <md-item-template >
                    <span class="item-metadata">
                      {{item.getFullName()}}
                    </span>
                  </md-item-template>

                </md-autocomplete>
              </form>
            </div><!-- /SELECT REPLACEMENT EMPLOYEE -->

          </div>
        </div>

        <md-button class="md-button md-primary"
                   ng-click="employeeHoliday.addEmptyReplacement()">
            Add Project
        </md-button>

      </section><!-- SELECT PROJECT AND REPLACEMENT -->



    </section><!-- /HOLIDAYS ng-repeat -->


  </md-content><!-- /FORM HOLIDAY -->





  <!-- CARD ACTIONS -->
  <md-card-actions layout="column" layout-align="start">
    <md-button
      class="c-card-profile__btn no-margin"
      ng-click="employeeHoliday.openForm(); employeeHoliday.toggleCard($event, 'open')"
      ng-disabled="btnIsDisabled"
      ng-show="!employeeHoliday.showForm">
      Add Holiday
    </md-button>
  </md-card-actions>

  <md-card-actions
    layout="row"
    layout-align="center center"
    ng-show="employeeHoliday.showForm"
    class="additional">

    <md-button
      class="md-raised md-primary"
      ng-click="employeeHoliday.saveHoliday(); employeeHoliday.toggleCard($event, 'close')">
      Save
    </md-button>

    <md-button
      class="md-raised"
      ng-click="employeeHoliday.closeForm(); employeeHoliday.toggleCard($event, 'close')">
      Close
    </md-button>

  </md-card-actions><!-- /CARD ACTIONS -->





</md-card><!-- CARD HOLIDAYS -->
