<!-- CARD HOLIDAYS -->
<md-card>

  <!-- CARD TITLE -->
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Holidays</span>
      <span ng-if="userHoliday.totalDays">
      <i class="material-icons">star</i>
      <i>{{userHoliday.totalDays}}</i> {{userHoliday.totalDays>1?"days":'day'}} taken
    </span>
    </md-card-title-text>
  </md-card-title>
  <!-- /CARD TITLE -->





  <!-- CARD NOTES -->
  <md-content class="c-card-profile__notes">
    <p>
      <strong>NOTE: </strong> Complete here your vacation requests.
    </p>
  </md-content>





  <md-content 
    class="c-card-profile__notes"
    ng-if="!userHoliday.userHolidays.length > 0">
    <p>
      <strong>You not have any vacation request added.</strong>
    </p>
  </md-content>
  <!-- /CARD NOTES -->





  <!-- PREVIEW HOLIDAY -->
  <md-content  
    class="md-padding"
    ng-show="!userHoliday.showForm"
    ng-if="userHoliday.userHolidays.length > 0">
    <md-table-container>
        <table class="c-table--actions"
          md-table
          md-progress="promise">

          <thead md-head
            md-order="query.order">
            <tr md-row>
              <th md-column class="text-center">Start date</th>
              <th md-column class="text-center">End date</th>
              <th md-column class="text-center">Number of days</th>
              <th md-column class="text-center">Project</th>
              <th md-column class="text-center">Action</th>
            </tr>
          </thead>

          <tbody md-body>
            <tr md-row
              md-select="holiday"
              md-auto-select
              ng-repeat="holiday in userHoliday.userHolidays | limitTo: userHoliday.tableSettings.query.limit : (userHoliday.tableSettings.query.page - 1) * userHoliday.tableSettings.query.limit">

              <td md-cell class="text-center">
                {{holiday.start_date | date:'dd-MM-yyyy'}}
              </td>

              <td md-cell class="text-center">
                {{holiday.end_date | date:'dd-MM-yyyy'}}
              </td>

              <td md-cell class="text-center">
                {{holiday.days}}
              </td>

              <td md-cell class="text-center">
                <div ng-repeat="project in holiday.employee_replacements">
                  <span>{{project.project_name}}</span>
                </div>
              </td>

              <td md-cell class="text-center">
                <md-button class="md-icon-button md-primary"
                  label="View Holiday"
                  aria-label="View Holiday"
                  ui-sref="holidayParent.details({id: holiday.holiday_id})">
                  <md-icon class="material-icons">visibility</md-icon>
                  <md-tooltip md-autohide="true">
                    View Holiday
                  </md-tooltip>
                </md-button>
                <md-button
                  class="md-icon-button md-warn"
                  label="Delete holiday"
                  aria-label="Delete holiday"
                  ng-click="userHoliday.removeHoliday(holiday)"
                  ng-if="userHoliday.isAdmin">
                  <md-icon class="material-icons">delete</md-icon>
                  <md-tooltip md-autohide="true">
                    Delete holiday
                  </md-tooltip>
                </md-button>
              </td>

            </tr>
          </tbody>

        </table>
    </md-table-container>

    <hra-table-pagination settings="userHoliday.tableSettings">
    <hra-table-pagination>

  </md-content>
  <!-- /PREVIEW HOLIDAY -->





  <form novalidate
    name="holidaysForm">
    <!-- FORM HOLIDAY -->
    <md-content ng-show="userHoliday.showForm" class="md-padding">
      <section layout='column'>





        <!-- SELECT PERIOD -->
        <section class="u-mb-20 u-mt-20"
          layout="row"
          layout-align="start center">
          
          <label class="u-ml-5 required-input">Start date</label>
          <md-datepicker ng-model="userHoliday.from"
            md-placeholder="Start date"
            md-open-on-focus
            ng-change="userHoliday.checkDates()"
            md-date-filter="userHoliday.getWorkingDay"
            required>
          </md-datepicker>
          <label class="u-ml-5 required-input">End date</label>
          <md-datepicker ng-model="userHoliday.to"
            md-placeholder="End date"
            md-open-on-focus
            ng-change="userHoliday.checkDates()"
            md-date-filter="userHoliday.getWorkingDay"
            required>
          </md-datepicker>

        </section>
        <section class="u-mb-20 u-mt-20"
          layout="row"
          layout-align="start center">
          <label class="u-ml-5 required-input">Signing Date</label>
          <md-datepicker ng-model="userHoliday.signingDate"
            md-placeholder="Signing date"
            md-open-on-focus
            ng-change="userHoliday.checkDates()"
            md-date-filter="userHoliday.getWorkingDay"
            required>
            </md-datepicker>
        </section>
        <!-- /SELECT PERIOD -->
        <section ng-show="userHoliday.validateDate" layout-gt-xs="row" layout-align="center center">
          <span class="alert alert-info fade"
          role="alert">
            End date must be greater than Start date and Signing date lesser than Start date !
          </span>
        </section>





        <!-- TEAM LEADER -->
        <section layout-gt-xs="row">
          <div flex="100" layout-fill class="md-padding">
            <div layout="column" layout-align="start start" layout-fill>

              <!-- SELECT TEAM LEADER -->
              <div class="md-block u-mb-20" layout-fill>
              
                <md-chips
                  ng-model="userHoliday.teamLeaders"
                  md-on-remove="userHoliday.verifyRequiredStatus()"
                  md-on-add="userHoliday.changeMinLength()"
                  md-input-name="autocompleteLeader">
                  <md-autocomplete
                    md-selected-item-change="userHoliday.verifyRequiredStatus()"
                    md-search-text="userHoliday.leader"
                    md-items="user in userHoliday.querySearch(userHoliday.leader, userHoliday.users)"
                    md-item-text="user.first_name+' '+user.last_name"
                    md-min-length="userHoliday.minLength"
                    md-dropdown-position="bottom"
                    ng-required="userHoliday.leaderRequired"
                    placeholder="Select team leader*">
                    <md-item-template>
                      <span md-highlight-text="userHoliday.leader">
                        {{user.first_name}} {{user.last_name}}
                      </span>
                    </md-item-template>
                  </md-autocomplete>
                  <md-chip-template>
                    <span>
                      <em>{{$chip.first_name}} {{$chip.last_name}}</em>
                    </span>
                  </md-chip-template>
                </md-chips>

              </div>
              <!-- /SELECT TEAM LEADER -->

            </div>
          </div>
        </section>
        <!-- /TEAM LEADER -->





        <!-- SELECT PROJECT AND REPLACEMENT -->
        <section layout-gt-xs="row"
          ng-repeat="date in userHoliday.replaceInputs track by $index">

          <div flex="45" layout-fill class="md-padding">
            <div layout="column" layout-align="start start" layout-fill>

              <!-- SELECT REPLACEMENT PROJECT -->
              <div class="md-block u-mb-20"
                layout-fill>
                <label>Project*</label>
                  <md-autocomplete
                    ng-model="userHoliday.searchProj[$index]"
                    md-selected-item="userHoliday.selectedProj[$index]"
                    md-search-text-change="userHoliday.searchProjChange(userHoliday.searchProj[$index])"
                    md-search-text="userHoliday.searchProj[$index]"
                    md-selected-item-change="userHoliday.selectedProjChange(item, $index)"
                    md-items="project in userHoliday.querySearch(userHoliday.searchProj[$index], userHoliday.projects)"
                    md-item-text="project.name"
                    md-min-length="0"
                    placeholder="Select an project"
                    md-input-name="autocompleteProject_{{$index}}"
                    md-dropdown-position="bottom"
                    required
                     md-require-match>
                    <md-item-template>
                      <span class="item-metadata">
                        {{project.name}}
                      </span>
                    </md-item-template>
                  </md-autocomplete>

                  <div ng-messages="holidaysForm['autocompleteProject_'+$index].$error"
                    layout-gt-xs="row" layout-align="center center"
                    ng-if="holidaysForm['autocompleteProject_'+$index].$touched">
                    <span ng-message="md-require-match" class="alert-info fade" role="alert">
                      You must select an option!
                    </span>
                  </div>

              </div>
              <!-- /SELECT REPLACEMENT PROJECT -->

            </div>
          </div>

          <div flex="45" layout-fill class="md-padding">
            <div layout="column" layout-align="start start" layout-fill>
              <label>Replacement*</label>

              <!-- SELECT REPLACEMENT EMPLOYEE -->
              <div class="md-block u-mb-20" layout-fill>
                <md-autocomplete
                  ng-model="userHoliday.searchUser[$index]"
                  md-selected-item="userHoliday.selectedUser[$index]"
                  md-search-text-change="userHoliday.searchUserChange(userHoliday.searchUser[$index])"
                  md-search-text="userHoliday.searchUser[$index]"
                  md-selected-item-change="userHoliday.selectedUserChange(item, $index)"
                  md-items="user in userHoliday.queryUserSearch(userHoliday.searchUser[$index])"
                  md-item-text="user.first_name +' '+ user.last_name"
                  md-min-length="0"
                  placeholder="Select an employee"
                  md-input-name="autocompleteUser_{{$index}}"
                  md-dropdown-position="bottom"
                  required
                  md-require-match>
                  <md-item-template>
                    <span class="item-metadata" md-highlight-text="userHoliday.searchUser[$index]">
                      {{user.first_name}} {{user.last_name}}
                    </span>
                  </md-item-template>
                </md-autocomplete>
                
                <div ng-messages="holidaysForm['autocompleteUser_'+$index].$error"
                  layout-gt-xs="row" layout-align="center center"
                  ng-if="holidaysForm['autocompleteUser_'+$index].$touched">
                  <span ng-message="md-require-match" class="alert-info fade" role="alert">
                    You must select an option!
                  </span>
                </div>

              </div>
              <!-- /SELECT REPLACEMENT EMPLOYEE -->

            </div>
          </div>
          
          <div flex="10" layout-fill class="md-padding"
          layout="column" layout-align="start start">

            <span ng-click="userHoliday.addEmptyReplacement()" 
              class="add-holiday" title="Add another project and replacement"
              ng-show="$index==0">
              <i class="material-icons">add_circle_outline</i>
            </span>

            <span ng-click="userHoliday.removeEmptyReplacement($index)" 
              class="add-holiday" title="Delete extra project"
              ng-show="$index>0">
                <i class="material-icons c-filters__icon">close</i>
            </span>
          </div>

        </section>
        <!-- SELECT PROJECT AND REPLACEMENT -->





      </section>
      <!-- /HOLIDAYS ng-repeat -->

      <!-- CARD NOTES -->
      <md-content class="c-card-profile__notes" layout-gt-xs="row">
        <p>
          <strong>INFO: All dates must be selected from the autocomplete list!</strong> 
        </p>
        
      </md-content>

       <md-content class="c-card-profile__notes" layout-gt-xs="row">
        <p>
          <strong>All * fields are required.</strong> 
        </p>
      </md-content>
      <!-- /CARD NOTES -->

      <span ng-show="userHoliday.errMsg"
        class="alert alert-info fade holiday-error"
        role="alert">
        Your vacation request with this interval exists !
      </span>

      <span ng-show="userHoliday.errMsgIntersectInterval"
        class="alert alert-info fade holiday-error"
        role="alert">
        Another vacation intersect with this interval !
      </span>

    </md-content>
    <!-- /FORM HOLIDAY -->
  </form>





  <!-- CARD ACTIONS -->
  <md-card-actions layout="column" layout-align="start">
    <md-button class="c-card-profile__btn no-margin"
      ng-click="userHoliday.toggleForm()"
      ng-show="!userHoliday.showForm">
      Add Holiday
    </md-button>
  </md-card-actions>

  <md-card-actions 
    layout="row"
    layout-align="center center"
    ng-show="userHoliday.showForm"
    class="additional">

    <md-button class="md-raised md-primary"
      ng-click="userHoliday.saveHoliday();"
      ng-disabled="holidaysForm.$invalid || userHoliday.validateDate">
      Save
    </md-button>

    <md-button class="md-raised"
      ng-click="userHoliday.displayForm(); userHoliday.cancel();">
      Close
    </md-button>

  </md-card-actions>
  <!-- /CARD ACTIONS -->





</md-card>
<!-- CARD HOLIDAYS -->
