<section class="c-section [ js-c-section ]">





  <!-- CARD NOTE -->
  <!-- <md-card class="c-card-note u-mb-30">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Note</span>
      </md-card-title-text>
    </md-card-title>

    <section class="c-card-note__container">
      <p>
        This is the <strong>BETA HR ASSIST application</strong>. At the moment for employees only this page is available <strong>(employee profile)</strong>. Please take your time to complete <strong>ALL THE AVAILABLE FIELDS</strong>. If you encounter a bug please leave a comment <a href="https://docs.google.com/spreadsheets/d/1YlkOjMCplBpOhHuUcl-YO-HDA4e_7wmcSdiFEDRPqOs/edit?usp=sharing" target="_blank" rel="noopener noreferrer">here</a>.
      </p>

      <p>
        If you have any questions or suggestions about this application please join the <strong>#hr-assist-suggestions</strong> channel.
      </p>

      <p><strong>Thank You!</strong></p>
    </section>
  </md-card> --><!-- /CARD NOTE -->





  <!-- EMPLOYEE CARDS -->
  <section>

    <hra-card
      hra-user-general
      class="c-card-profile"
      md-whiteframe='6'
      toggle-form="card.toggleForm"
      query-search="card.querySearch"
      settings="card.settings">
    </hra-card>


      <hra-card
      hra-user-languages
      class="c-card-profile [ js-employee-card ]"
      md-whiteframe='6'
      toggle-form="card.toggleForm"
      query-search="card.querySearch"
      settings="card.settings">
    </hra-card>

   <!-- 
    <hra-employee-observations
      class="c-card-profile [ js-employee-card ]"
      md-whiteframe='6'>
    </hra-employee-observations>

    <hra-schedule
      ng-hide="employeeDetails.candidate"
      class="c-card-profile [ js-employee-card ]"
      md-whiteframe='6'>
    </hra-schedule>

    <hra-employee-project
      ng-hide="employeeDetails.candidate"
      class="c-card-profile [ js-employee-card ]"
      md-whiteframe='6'>
    </hra-employee-project>

    <hra-employee-skills
      class="c-card-profile [ js-employee-card ]"
      md-whiteframe='6'>
    </hra-employee-skills>

    <hra-employee-upload-files
      class="c-card-profile [ js-employee-card ]"
      md-whiteframe='6'>
    </hra-employee-upload-files>

    <hra-employee-equipments
      ng-hide="employeeDetails.candidate"
      class="c-card-profile [ js-employee-card ]"
      md-whiteframe='6'>
    </hra-employee-equipments>

    <hra-jobs
      class="c-card-profile [ js-employee-card ]"
      md-whiteframe='6'>
    </hra-jobs>

    <hra-employee-education
      class="c-card-profile [ js-employee-card ]"
      md-whiteframe='6'>
    </hra-employee-education>

    <hra-employee-course
      class="c-card-profile [ js-employee-card ]"
      md-whiteframe='6'>
    </hra-employee-course>

    <hra-employee-holiday
      ng-hide="employeeDetails.candidate"
      class="c-card-profile [ js-employee-card ]"
      md-whiteframe='6'>
    </hra-employee-holiday> -->

  </section><!-- EMPLOYEE CARDS -->





</section>
