<section class="employee-profile">
  <section class="md-padding">
    <form name="projectform" class="form form-add-user md-inline-form">

      <hra-general-info-project
        class="c-card-profile"
        md-whiteframe='6'>
      </hra-general-info-project>

      <hra-industry-project
        class="c-card-profile"
        md-whiteframe='6'>
      </hra-industry-project>

       <hra-technology-project
        class="c-card-profile"
        md-whiteframe='6'>
      </hra-technology-project>

      <hra-employees-project
        class="c-card-profile"
        md-whiteframe='6'>
      </hra-employees-project>

    </form>
  </section>
</section>