<!-- CARD SKILLS -->
<md-card>




  <!-- CARD TITLE -->
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Skills</span>
    </md-card-title-text>
  </md-card-title><!-- /CARD TITLE -->





  <!-- CARD NOTES -->
  <md-content class="c-card-profile__notes">
    <p>
      <strong>NOTE: </strong>Complete here with the technologies that you know.
    </p>
    <p>
      <strong>Main skills </strong>are the technologies that you are using more frequently in company projects.
    </p>
    <p>
      <strong>Secondary skills </strong>are the technologies that you are familiar or perhaps even worked with but you didn't have the opportunity to use them in a specific company project.
    </p>
  </md-content> <!-- CARD NOTES -->





  <!-- PREVIEW SKILLS -->
  <md-content
    ng-show="employeeSkills.disabledSkills"
    class="c-card-profile__preview">

    <md-subheader class="md-no-sticky">Main skills</md-subheader>

    <md-list layout="row" layout-wrap>
      <md-list-item
        flex="25"
        class="md-2-line"
        ng-repeat="skill in employeeSkills.increment track by $index"
        ng-if="employeeSkills.selectedSkillTypess[$index] === 'Main'">
        <div class="md-list-item-text" layout="column">
          <h4>{{ skill.label }}</h4>
          <p>{{employeeSkills.text[$index]}}</p>
        </div>
      </md-list-item>
    </md-list>

    <md-subheader class="md-no-sticky">Secondary skills</md-subheader>
    <md-list layout="row" layout-wrap>

      <md-list-item
        flex="25"
        class="md-2-line"
        ng-repeat="skill in employeeSkills.increment track by $index"
        ng-if="employeeSkills.selectedSkillTypess[$index] === 'Secondary'">
        <div class="md-list-item-text" layout="column">
          <h4>{{ skill.label }}</h4>
          <p>{{employeeSkills.text[$index]}}</p>
        </div>
      </md-list-item>
    </md-list>

  </md-content><!-- /PREVIEW SKILLS -->





  <!-- FORM SKILLS -->
  <md-content
    ng-hide="employeeSkills.disabledSkills"
    class="md-padding">

    <section
      layout-gt-xs="row"
      layout-align="center center"
      ng-repeat="skill in employeeSkills.increment track by $index">



      <!-- SKILL SELECT -->
      <div class="md-padding" flex-gt-xs="35">
        <form ng-submit="$event.preventDefault()">
          <md-autocomplete
            md-no-cache="true"
            ng-disabled="employeeSkills.disabledSkills"
            md-search-text="employeeSkills.searchSkill[$index]"
            md-search-text-change="employeeSkills.searchTextChange(employeeSkills.searchSkill[$index])"
            md-selected-item-change="employeeSkills.addSkill(item, employeeSkills.employee, $index)"
            md-items="item in employeeSkills.querySearch(employeeSkills.searchSkill[$index])"
            md-item-text="item.label"
            md-min-length="0"
            placeholder="Area of expertise">

            <md-item-template>
              <span class="item-metadata">
                {{item.label}}
            </md-item-template>

          </md-autocomplete>
        </form>
      </div><!-- /SKILL SELECT -->




      <!-- TYPE SELECT -->
      <div class="md-padding" flex-gt-xs="35">
        <md-select
          class="u-no-margin"
          ng-disabled="employeeSkills.disabledSkills"
          aria-label="skillType"
          ng-model="employeeSkills.selectedSkillTypess[$index]"
          placeholder="Skill type"
          md-selected-text="employeeSkills.selectedSkillType(employeeSkills.selectedSkillTypess[$index], employeeSkills.employee, $index)">
          <md-optgroup label="Skill type">
            <md-option
              value="{{skillType}}"
              ng-repeat="skillType in employeeSkills.skillTypes">
              {{skillType}}
            </md-option>
          </md-optgroup>
        </md-select>
      </div><!-- TYPE SELECT -->





      <div flex-gt-xs="40">
        <div layout layout-align="center center">
          <span class="u-font-small">
            Skill level(1  Beginner, 10  Experienced)
          </span>
        </div>
        <md-slider
          flex
          md-discrete
          ng-model="employeeSkills.selectedSkillLevel[$index]"
          class="md-primary"
          step="1"
          min="1"
          max="10"
          aria-label="Skill level">
        </md-slider>
      </div>
      <!-- /LEVEL SELECT -->




      <!-- REMOVE SKILL -->
      <div class="md-padding" flex-gt-xs="10">
        <md-button
          class="md-icon-button md-warn"
          label="Remove skill"
          aria-label="Remove skill"
          ng-click="employeeSkills.removeSkill($index, skill, employeeSkills.employee)">
          <md-icon class="material-icons">delete</md-icon>
        </md-button>
      </div><!-- /REMOVE SKILL -->

    </section><!-- /ng-repeat -->

    <section class="md-padding">
      <md-button
        md-no-ink
        class="md-primary small-text"
        ng-click="employeeSkills.addNewSkill()">
        Add New
      </md-button>
    </section>

  </md-content><!-- /FORM SKILLS -->





  <!-- CARD ACTIONS -->
  <md-card-actions
    layout="column"
    layout-align="start"
    ng-show="employeeSkills.disabledSkills">
    <md-button
      class="c-card-profile__btn no-margin"
      ng-click="employeeSkills.changeView(); employeeSkills.toggleCard($event, 'open')">
      Add/Edit Skills
    </md-button>
  </md-card-actions>

  <md-card-actions
    layout="row"
    layout-align="center center"
    ng-show="!employeeSkills.disabledSkills"
    class="additional">

    <md-button
      class="md-raised md-primary"
      ng-click="employeeSkills.saveEmployee(employeeSkills.employee); employeeSkills.toggleCard($event, 'close')"
      ng-hide="employeeSkills.disabledSkills">
      Save
    </md-button>

    <md-button
      class="md-raised"
      ng-click="employeeSkills.cancelAdd(); employeeSkills.toggleCard($event, 'close')"
      ng-hide="employeeSkills.disabledSkills">
      Cancel
    </md-button>

  </md-card-actions>
  <!-- CARD ACTIONS -->





</md-card><!-- CARD SKILLS -->

