<!-- CARD TECHNOLOGIES -->
<md-card>



  <!-- CARD TITLE -->
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Technologies</span>
    </md-card-title-text>
  </md-card-title><!-- /CARD TITLE -->



  <!-- CARD NOTES -->
  <md-content class="c-card-profile__notes">
    <p>
      <strong>NOTE: </strong>Complete here with the technologies that you know.
    </p>
    <p>
      <strong>Main technologies </strong>are the technologies that you are using more frequently in company projects.
    </p>
    <p>
      <strong>Secondary technologies </strong>are the technologies that you are familiar or perhaps even worked with but you didn't have the opportunity to use them in a specific company project.
    </p>
  </md-content>
  
  <md-content class="c-card-profile__notes"
    ng-if="!employeeTechnologies.userTechnologies.length > 0">
    <p>
      <strong>You not have any technology added.</strong>
    </p>
  </md-content>
  <!-- CARD NOTES -->



  <!-- PREVIEW TECHNOLOGIES -->
  <md-content ng-show="!employeeTechnologies.showForm" class="c-card-profile__preview">

    <md-subheader class="md-no-sticky">Main technologies</md-subheader>

    <md-list layout="row" layout-wrap>
      <md-list-item flex="25"
        class="md-2-line"
        ng-repeat="technology in employeeTechnologies.userTechnologies track by $index"
        ng-if="employeeTechnologies.userTechnologies[$index].technology_type === 'main'" >
        <div class="md-list-item-text" layout="column">
          <h4>{{ technology.name }}</h4>
          <p>level: {{employeeTechnologies.getLvlTxt(technology.level)}}</p>
          <p>year: {{technology.technology_starting_year}}</p>
        </div>
      </md-list-item>
    </md-list>

    <md-subheader class="md-no-sticky">Secondary technologies</md-subheader>
    <md-list layout="row" layout-wrap>

      <md-list-item flex="25"
        class="md-2-line"
        ng-repeat="technology in employeeTechnologies.userTechnologies track by $index"
        ng-if="employeeTechnologies.userTechnologies[$index].technology_type === 'secondary'">
        <div class="md-list-item-text" layout="column">
          <h4>{{ technology.name }}</h4>
          <p>level: {{employeeTechnologies.getLvlTxt(technology.level)}}</p>
          <p>year: {{technology.technology_starting_year}}</p>
        </div>
      </md-list-item>
    </md-list><!-- /PREVIEW TECHNOLOGIES -->
  </md-content>

  <form ng-submit="$event.preventDefault()" name="addTechForm">
    <!-- EDIT TECHNOLOGIES -->
    <md-content class = "md-padding" ng-show="employeeTechnologies.showForm">

      <md-list layout="row" layout-wrap>

        <md-list-item class="md-2-line c-filters__label">
          <div class="md-list-item-text " layout="column">
            <h4>Add/Remove technologies: </h4>
          </div>
        </md-list-item>

        <md-list-item class="md-2-line"
          ng-repeat="technology in employeeTechnologies.userTechnologies track by $index">
          <div class="md-list-item-text" layout="column">
            <p class="c-filters__item"
              ng-click="employeeTechnologies.deleteTechQuery(technology)" >
              {{$index + 1}} {{technology.name}}
              <span class="material-icons c-filters__icon">close</span>
            </p>
          </div>
        </md-list-item>

      </md-list>

      <!-- FILTER TECHNOLOGIES -->
      <section
        layout-align="center center"
        ng-repeat="date in employeeTechnologies.userNewTech track by $index" >


      <div layout="row">
        
        <!-- TECHNOLOGIES SELECT-->
        <div flex-gt-xs="40">
          <md-content class="md-padding">
            <md-input-container>
              <label>Select technology</label>
              <md-autocomplete md-selected-item="employeeTechnologies.userNewTech[$index].technology"
                md-search-text-change="employeeTechnologies.searchTextChange(employeeTechnologies.userNewTech[$index].technology)"
                ng-model="employeeTechnologies.userNewTech[$index].technology.name"
                md-search-text="employeeTechnologies.searchText[$index]"
                md-selected-item-change="employeeTechnologies.excludeTechnology(item)"
                md-items="item in employeeTechnologies.querySearch(employeeTechnologies.searchText[$index], employeeTechnologies.technologies)"
                md-item-text="item.name"
                md-min-length="0"
                placeholder="Select technology"
                class="select-tech">

                <md-item-template>
                  <span class="item-metadata"
                    md-highlight-text="employeeTechnologies.userNewTech">
                   {{item.name}}
                  </span>
                </md-item-template>

              </md-autocomplete>
            </md-input-container>
          </md-content>
        </div>
        <!-- /TECHNOLOGIES SELECT-->


        <!--TYPE SELECT-->
        <div class="md-padding" flex-gt-xs="40">
          <md-input-container class="md-input max-width">
            <label>Skill type</label>
            <md-select class="u-no-margin"
              aria-label="skillType"
              ng-model="employeeTechnologies.userNewTech[$index].type"
              ng-required="employeeTechnologies.searchText[$index]">
              <md-optgroup label="Skill type">
                <md-option value="0">
                  <span>Main</span>
                </md-option>
                <md-option value="1">
                  <span>Secondary</span>
                </md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
        </div>
        <!-- TYPE SELECT -->


        <!-- ADD TECHNOLOGY-->
        <div class="md-padding" flex-gt-xs="10">
          <md-button class="md-icon-button md-warn"
            label="Add technology"
            aria-label="add technology"
            ng-click="employeeTechnologies.addNewTechnologie()">
            <md-icon class="material-icons">add</md-icon>
            <md-tooltip md-autohide="true">
            Add new Technology
          </md-tooltip>
          </md-button>
        </div>
        <!-- /ADD TECHNOLOGY-->


        <!-- REMOVE  TECHNOLOGY-->
        <div class="md-padding" flex-gt-xs="10">
          <md-button class="md-icon-button md-warn"
            label="Remove technology"
            aria-label="Remove technology"
            ng-click="employeeTechnologies.userNewTech.splice($index, 1)"
            ng-show="employeeTechnologies.userNewTech.length !=1">
            <md-icon class="material-icons">delete</md-icon>
            <md-tooltip md-autohide="true">
            Remove new Technology
          </md-tooltip>
          </md-button>
        </div>
        <!-- /REMOVE TECHNOLOGY -->

      </div>


      <div layout="row">
        
        <!--YEAR-->
        <div class="md-padding" flex-gt-xs="40">
          <md-input-container md-no-float>
            <label>Year</label>
            <input
            ng-model="employeeTechnologies.userNewTech[$index].year"
            name="year-{{$index}}"
            type="number"
            ng-required="!employeeTechnologies.userNewTech[$index].year">

            <div ng-messages="addTechForm['year-'+$index].$error && addTechForm['year-'+$index].$invalid">
            <div ng-message="required">This field is required</div>
          </div>
          </md-input-container>
        </div>
        <!-- YEAR -->


        <!--TECHNOLOGY LEVEL-->
        <div class="md-padding" flex-gt-xs="40">
          <div flex-gt-xs="100">
            <div layout layout-align="center center">
              <span class="u-font-small">
                Skill level(1  Beginner, 10  Experienced)
              </span>
            </div>
            <md-slider flex
              md-discrete
              ng-model="employeeTechnologies.userNewTech[$index].level"
              class="md-primary"
              step="1"
              min="1"
              max="10"
              aria-label="Skill level"
              ng-required="employeeTechnologies.searchText[$index]"
              ng-disabled="!employeeTechnologies.userNewTech[$index].type">
            </md-slider>
          </div>
        </div>
        <!--TECHNOLOGY LEVEL-->

      </div>


      </section>
      <!-- /FILTER TECHNOLOGIES -->
    </md-content>
    <!-- /EDIT TECHNOLOGIES-->


    <!-- CARD ACTIONS -->
    <md-card-actions layout="column"
      layout-align="start"
      ng-show="!employeeTechnologies.showForm">
      <md-button class="c-card-profile__btn no-margin"
        ng-click="employeeTechnologies.toggleForm()">
        Add/Edit Technologies
      </md-button>
    </md-card-actions>

    <md-card-actions layout="row"
      layout-align="center center"
      ng-show="employeeTechnologies.showForm"
      class="additional">

      <md-button class="md-raised md-primary"
        ng-click="employeeTechnologies.save()"
        ng-disabled="employeeTechnologies.disableSaveBtn || addTechForm.$invalid">
        Save
      </md-button>

      <md-button class="md-raised"
        ng-click=employeeTechnologies.cancel()>
        Cancel
      </md-button>

    </md-card-actions>
    <!-- /CARD ACTIONS -->
  </form>

</md-card>
<!-- /CARD SKILLS -->

