<!-- CARD TECHNOLOGIES -->
<md-card>


  <!-- CARD TITLE -->
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Technologies</span>
    </md-card-title-text>
  </md-card-title><!-- /CARD TITLE -->


  <!-- CARD NOTES -->
  <md-content class="c-card-profile__notes">
    <p>
      <strong>NOTE: </strong>Complete here with the technologies that you know.
    </p>
    <p>
      <strong>Main skills </strong>are the technologies that you are using more frequently in company projects.
    </p>
    <p>
      <strong>Secondary skills </strong>are the technologies that you are familiar or perhaps even worked with but you didn't have the opportunity to use them in a specific company project.
    </p>
  </md-content> <!-- CARD NOTES -->


  <!-- PREVIEW TECHNOLOGIES -->
  <md-content ng-show="!employeeSkills.displayOrHide" class="c-card-profile__preview">

    <md-subheader class="md-no-sticky">Main skills</md-subheader>

    <md-list layout="row" layout-wrap>
      <md-list-item flex="25"
                    class="md-2-line"
                    ng-repeat="technology in employeeSkills.userTechnologies track by $index"
                    ng-if="employeeSkills.userTechnologies[$index].technology_type === 'main'" >
        <div class="md-list-item-text" layout="column">
          <h4>{{ technology.name }}</h4>
          <p>{{technology.level}}</p>
        </div>
      </md-list-item>
    </md-list>

    <md-subheader class="md-no-sticky">Secondary skills</md-subheader>
    <md-list layout="row" layout-wrap>

      <md-list-item flex="25"
                    class="md-2-line"
                    ng-repeat="technology in employeeSkills.userTechnologies track by $index"
                    ng-if="employeeSkills.userTechnologies[$index].technology_type === 'secondary'">
        <div class="md-list-item-text" layout="column">
          <h4>{{ technology.name }}</h4>
          <p>{{technology.level}}</p>
        </div>
      </md-list-item>
    </md-list><!-- /PREVIEW TECHNOLOGIES -->
  </md-content>

  <!-- EDIT TECHNOLOGIES -->
    <md-content class = "md-padding" ng-show="employeeSkills.displayOrHide">

      <md-list layout="row" layout-wrap>

        <md-list-item class="md-2-line c-filters__label">
           <div class="md-list-item-text " layout="column">
             <h4>Add/Remove technologies: </h4>
           </div>
         </md-list-item>

         <md-list-item class="md-2-line"
                       ng-repeat="technology in employeeSkills.userTechnologies track by $index">
           <div class="md-list-item-text" layout="column">
             <p class="c-filters__item"
              ng-click="employeeSkills.deleteTech(technology)" >
               {{$index + 1}} {{technology.name}}
               <span class="material-icons c-filters__icon">close</span>
             </p>
           </div>
         </md-list-item>

      </md-list>

    <!-- FILTER TECHNOLOGIES -->
    <section layout-gt-xs="row"
             layout-align="center center"
             ng-repeat="technology in employeeSkills.technologiesToAdd track by $index" >


        <!-- TECHNOLOGIES SELECT-->
        <div class="md-padding" flex-gt-xs="35">
        <md-content class="md-padding">

          <form ng-submit="$event.preventDefault()">

            <md-autocomplete md-selected-item="employeeSkills.selectedItem[$index]"
                             md-search-text-change="employeeSkills.searchTextChange(employeeSkills.searchText[$index])"
                             ng-model="employeeSkills.searchText[$index]"
                             md-search-text="employeeSkills.searchText[$index]"
                             md-selected-item-change="employeeSkills.selectedTechnologyChange(item, $index)"
                             md-items="item in employeeSkills.queryTechnologySearch(employeeSkills.searchText[$index])"
                             md-item-text="item.name"
                             md-min-length="0"
                             placeholder="Select technology">

              <md-item-template>
                <span class="item-metadata"
                      md-highlight-text="employeeSkills.searchText">
                  {{item.name}}
                </span>
              </md-item-template>

            </md-autocomplete>
          </form>
        </md-content>
        <!-- /TECHNOLOGIES SELECT-->
      </div>
      
      <!--TYPE SELECT-->
      <div class="md-padding" flex-gt-xs="35">
        <md-select class="u-no-margin"
                   aria-label="skillType"
                   ng-model="employeeSkills.selectedSkillTypes[$index]"
                   placeholder="Skill type"
                   md-selected-text="employeeSkills.selectedSkillType(employeeSkills.selectedSkillTypes[$index], employeeSkills.employee, $index)">
          <md-optgroup label="Skill type">
            <md-option value="0">
              Main
            </md-option>
             <md-option value="1">
              Secondary
            </md-option>
          </md-optgroup>
        </md-select>
      </div><!-- TYPE SELECT -->

      <!--TECHNOLOGY LEVEL-->
      <div class="md-padding" flex-gt-xs="100">
        <div flex-gt-xs="100">
          <div layout layout-align="center center">
            <span class="u-font-small">
              Skill level(1  Beginner, 10  Experienced)
            </span>
          </div>
          <md-slider flex
                     md-discrete
                     ng-model="employeeSkills.selectedSkillLevel[$index]"
                     class="md-primary"
                     step="1"
                     min="1"
                     max="10"
                     aria-label="Skill level">
          </md-slider>
        </div>
      </div><!--TECHNOLOGY LEVEL-->

      <!-- REMOVE SKILL -->
      <div class="md-padding" flex-gt-xs="10">
        <md-button class="md-icon-button md-warn"
                   label="Remove skill"
                   aria-label="Remove skill"
                   ng-click="employeeSkills.technologiesToAdd.splice($index, 1)">
          <md-icon class="material-icons">delete</md-icon>
        </md-button>
      </div><!-- /REMOVE SKILL -->


    </section>
    <!-- /FILTER TECHNOLOGIES -->


    <section class="md-padding"
             ng-show="employeeSkills.displayOrHide">
      <md-button md-no-ink
                 class="md-primary small-text"
                 ng-click="employeeSkills.addNewTechnologie()">
        Add New Technologies
      </md-button>
    </section>

    </md-content><!-- /EDIT TECHNOLOGIES-->


  <!-- CARD ACTIONS -->
  <md-card-actions layout="column"
                   layout-align="start"
                   ng-show="!employeeSkills.displayOrHide">
    <md-button class="c-card-profile__btn no-margin"
               ng-click="employeeSkills.displayForm()">
      Add/Edit Technologies
    </md-button>
  </md-card-actions>

  <md-card-actions layout="row"
                   layout-align="center center"
                   ng-show="employeeSkills.displayOrHide"
                   class="additional">

    <md-button class="md-raised md-primary"
               ng-click="employeeSkills.saveTechnologies()">
      Save
    </md-button>

    <md-button class="md-raised"
               ng-click=employeeSkills.cancelSave()>
      Cancel
    </md-button>

  </md-card-actions>
  <!-- CARD ACTIONS -->


</md-card><!-- CARD SKILLS -->

