<section nlayout="column" ng-cloak="" class="md-inline-form">

  <md-toolbar class="md-table-toolbar">
    <div class="md-toolbar-tools">
      Add Candidate
    </div>
  </md-toolbar>

  <section class="md-padding">
    <form 
      class="form form-add-candidate"
      ng-submit="candidateForm.add()"
      novalidate
      name="candForm"
      >

      <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
        <!-- GENERAL TAB -->
        <md-tab label="General">
          <md-content class="md-padding">
            <div layout-gt-xs="row">
              <md-input-container md-no-float class="md-block" flex-gt-xs="">

                <label>Name</label>
                <input ng-model="candidateForm.candidate.name" name="name" required>
                  
                <div ng-messages="candForm.name.$error">
                  <div ng-message="required">This field is required</div>
                </div>

              </md-input-container>
            </div>

            <!-- SELECT START/END DATE -->
            <section layout-gt-xs="row" layout-align="start center" class="md-padding">
              <div flex-gt-xs="50">
                <label>University start year</label>
                <md-datepicker
                  ng-model="candidateForm.candidate.start_date"
                  md-placeholder="Pick start year"
                  name="from-{{$index}}"
                  md-open-on-focus
                  ng-change="userEducation.checkDates($index)"
                  required>
                </md-datepicker>
              </div>

              <div flex-gt-xs="50">
                <label>University end year</label>
                <md-datepicker
                  ng-model="candidateForm.candidate.end_date"
                  md-placeholder="Pick end year"
                  name="to-{{$index}}"
                  md-open-on-focus
                  ng-change="userEducation.checkDates($index)"
                  ng-disabled=education.onGoing
                  ng-required=!education.onGoing>
                </md-datepicker>
              <div>
            </section>


            <!-- TECHNOLOGY SECTION-->
            <section
              layout-gt-xs="row"
              layout-align="center center"
              ng-repeat="language in candidateForm.technologiesToAdd track by $index">

              <div flex="100">
                <label>Technology</label>

                <!-- TECHNOLOGY SELECT-->
                <md-autocomplete
                  md-selected-item="candidateForm.selectedItem[$index]"
                  md-search-text-change="candidateForm.searchTextChange(candidateForm.searchText[$index])"
                  md-search-text="candidateForm.searchText[$index]"
                  md-selected-item-change="candidateForm.addInQueue(item)"
                  md-items="item in candidateForm.querySearch(candidateForm.searchText[$index], candidateForm.languages)"
                  md-item-text="item.long_name"
                  md-min-length="0"
                  placeholder="Search"
                  md-dropdown-position="bottom">

                  <md-item-template>
                    <span
                    class="item-metadata"
                    md-highlight-text="candidateForm.searchText">
                      {{item.long_name}}
                    </span>
                  </md-item-template>
                </md-autocomplete>
                <!-- /TECHNOLOGY SELECT-->

                <!--TECHNOLOGY LEVEL-->
                <div class="md-padding" flex-gt-xs="100">
                  <div flex-gt-xs="100">
                    <div layout layout-align="center center">
                      <span class="u-font-small">
                        Technology level(1 Junior, 10 Senior)
                      </span>
                    </div>
                    <md-slider flex
                      md-discrete
                      ng-model="candidateForm.selectedLanguageLevel[$index]"
                      class="md-primary"
                      step="1"
                      min="1"
                      max="10"
                      aria-label="Skill level"
                      required>
                    </md-slider>
                  </div>
                </div>
                <!--TECHNOLOGY LEVEL -->

              </div>
            </section>
            <!-- TECHNOLOGY SECTION-->
            
            <!-- ADD NEW TECHNOLOGY SECTION-->
            <section class="md-padding"
              ng-show="!showDetails">
              <md-button
                md-no-ink
                class="md-primary small-text"
                ng-click="candidateForm.addNewTechnology(); ">
                Add New Technology
              </md-button>
            </section>
            <!-- /ADD NEW TECHNOLOGY SECTION-->

            <!-- PROJECTS -->
            <div layout-gt-xs="row">
              <md-input-container md-no-float class="md-block" flex-gt-xs="">

                <label>Projects</label>
                <input ng-model="candidateForm.candidate.projects" name="name" required>
                  
                <div ng-messages="candForm.name.$error">
                  <div ng-message="required">This field is required</div>
                </div>

              </md-input-container>
            </div>
            <!-- /PROJECTS -->

            <!-- CATEGORY -->
            <div layout-gt-xs="row">
              <md-input-container md-no-float class="md-block" flex-gt-xs="">

                <label>Category</label>
                <input ng-model="candidateForm.candidate.category" name="name" required>
                  
                <div ng-messages="candForm.name.$error">
                  <div ng-message="required">This field is required</div>
                </div>

              </md-input-container>
            </div>
            <!-- /CATEGORY -->

            <!-- PHONE AND EMAIL -->
            <div layout-gt-xs="row">

              <md-input-container md-no-float class="md-block" flex-gt-xs="50">

                <label>Phone</label>
                <input
                  name="phone"
                  ng-model="candidateForm.candidate.phone"
                  ng-pattern="/^[0-9\-\+]{6,15}$/">

                <div ng-messages="candForm.phone.$error">
                  <div ng-message="pattern">Please insert a valid phone number</div>
                </div>

              </md-input-container>

              <md-input-container md-no-float class="md-block" flex-gt-xs="50">

                <label>Email</label>
                <input
                  ng-model="candidateForm.candidate.email"
                  name="emailOther"
                  type="email"
                  ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/">

                <div ng-messages="candForm.emailOther.$error">
                  <div ng-message="pattern">Please insert a valid email</div>
                </div>

              </md-input-container>
            </div>
            <!-- /PHONE AND EMAIL -->


            <!-- COMMENTS -->
            <div layout-gt-xs="row">
              <md-input-container md-no-float class="md-block" flex-gt-xs="">
                <label>Comments</label>
                <textarea name="" id="" cols="30" rows="1"></textarea>
              </md-input-container>
            </div>
            <!-- /COMMENTS -->

            <!-- DISPONIBILITY -->
            <div layout-gt-xs="row">
              <md-input-container md-no-float class="md-block" flex-gt-xs="">

                <label>Disponibility</label>
                <input ng-model="candidateForm.candidate.name" name="name" required>
                  
                <div ng-messages="candForm.name.$error">
                  <div ng-message="required">This field is required</div>
                </div>

              </md-input-container>
            </div>
            <!-- /DISPONIBILITY -->


            <!--STATUS-->
            <div class="md-padding" flex-gt-xs="100">
              <md-input-container>
                <label>Status</label>
                <md-select class="u-no-margin"
                  aria-label="Candidate status"
                  ng-model="candidateForm.candidate.status"
                  required>
                  <md-optgroup label="Candidate status">
                    <md-option value="{{$index}}" ng-repeat="status in candidateForm.status">
                      <span>{{status}}</span>
                    </md-option>
                  </md-optgroup>
                </md-select>
              </md-input-container>
            </div>
            <!-- /STATUS -->

            <!-- UPLOAD -->
            <div ngf-drop ngf-select ng-model="files" class="drop-box"
              ngf-drag-over-class="'dragover'" 
              ngf-multiple="true" ngf-allow-dir="true"
              ngf-pattern="'.doc,.docx,.pdf,.jpg,.png,.jpeg'">Drop docs, pdfs or images here or click to upload
            </div>
            <!-- /UPLOAD -->


            <md-list layout="column" layout-wrap>
              <md-list-item
                ng-repeat="f in files track by $index">
                <div class="md-list-item-text" layout="column">
                  <strong>{{f.name}}</strong>
                  <input
                  ng-model="uploadFiles.realNames[uploadFiles.indexVal + $index]"
                  name="fileName"
                  ng-show="uploadFiles.showInput">
                </div>
              </md-list-item>
            </md-list>
          </md-content>
        </md-tab>
      </md-tabs>

      <div layout="row" layout-align="center center">

        <md-button class="md-raised md-primary" 
          ng-click="candidateForm.add()"
          ng-disabled="candForm.$invalid || candidateForm.validateDate">
          Save
        </md-button>

        <md-button class="md-raised md-primary" 
          ng-click="candidateForm.clearButton()">
          Clear
        </md-button>

        <md-button class="md-raised" 
          ng-click="candidateForm.closeButton()">
          Close
        </md-button>

      </div>

    </form>

  </section>

</section>