<!-- RESUME -->
<section class="c-resume" id="printable">


<!-- RESUME SECTION GENERAL INFO -->
<section class="c-resume__section">

	<!-- /ROW -->
	<div class="c-resume__section-row">

		<h3 class="c-resume__row-title">information</h3>

	<div >
		<aside class="c-resume__aside">
			<img class="cv-picture" ng-src="{{employeeCv.employeeCvData.picture}}">
		</aside>

		<section class="c-resume__main">

			<div class="c-resume__main-titles">
				<h3 class="c-resume__main-title">{{employeeCv.employeeCvData.firstName}} {{employeeCv.employeeCvData.middleName}} {{employeeCv.employeeCvData.lastName}}</h3>
				<h3 class="c-resume__main-subtitle"> {{employeeCv.employeeCvData.address.adresa}} {{employeeCv.employeeCvData.address.zip}} {{employeeCv.employeeCvData.address.city}}</h3>
			</div>

			<ul class="c-resume-list">
				<li class="c-resume-list__item">
					{{employeeCv.employeeCvData.phone}}
				</li>
				<li class="c-resume-list__item">
					{{employeeCv.employeeCvData.emailAssist}}
				</li>
			</ul>

		</section>
	</div>
</div>
	<!-- /ROW -->

</section>
<!-- /RESUME SECTION -->

	<!-- RESUME SECTION -->
	<section class="c-resume__section">

		<!-- /ROW -->
		<div class="c-resume__section-row">

			<h3 class="c-resume__row-title">Experience</h3>

		<div ng-repeat="job in employeeCv.createJob track by $index">
			<aside class="c-resume__aside">
				<h3 class="c-resume__aside-subtitle">{{job.startDate | date: 'MMM yyyy'}} - {{job.endDate | date: 'MMM yyyy'}}</h3>
			</aside>

			<section class="c-resume__main">

				<div class="c-resume__main-titles">
					<h3 class="c-resume__main-title">{{job.emplName}}</h3>
					<h3 class="c-resume__main-subtitle">{{job.name}}</h3>
				</div>

				<ul class="c-resume-list">
					<li class="c-resume-list__item">
						{{job.description}}
					</li>
				</ul>

			</section>
		</div>
	</div>
		<!-- /ROW -->

	</section>
	<!-- /RESUME SECTION -->




	<!-- RESUME SECTION SKILLS -->
	<section class="c-resume__section">

		<!-- ROW -->
		<div class="c-resume__section-row">

			<h3 class="c-resume__row-title">Skills</h3>

			<aside class="c-resume__aside">
				<h3 class="c-resume__aside-subtitle">Languages</h3>
			</aside>

			<section class="c-resume__main">
				<ul class="c-resume-list c-resume-list--bullet c-resume-list--inline">

					<li class="c-resume-list__item" ng-repeat="language in employeeCv.employeeCvData.languages track by $index">
						<span class="c-resume-list__item-title">{{language.language}}</span>
						<span class="c-resume-list__item-subtitle">{{language.level}}</span>
					</li>
				</ul>
			</section>

		</div>
		<!-- /ROW -->

		<!-- ROW -->
		<div class="c-resume__section-row">

			<aside class="c-resume__aside">
				<h3 class="c-resume__aside-subtitle">Software</h3>
			</aside>

			<section class="c-resume__main">
				<ul class="c-resume-list c-resume-list--bullet c-resume-list--inline">

					<li class="c-resume-list__item" ng-repeat="skill in employeeCv.employeeCvData.skills track by $index">
						<span class="c-resume-list__item-title">{{skill.label}}</span>
						<span class="c-resume-list__item-subtitle">{{employeeCv.employeeCvData.skillsLevel[$index]}}</span>
					</li>


				</ul>
			</section>

		</div>
		<!-- /ROW -->

	</section>
	<!-- RESUME SECTION -->


	<!-- RESUME SECTION EDUCATION -->
	<section class="c-resume__section">

		<!-- ROW -->
		<div class="c-resume__section-row">

			<h3 class="c-resume__row-title">Education</h3>

			<div ng-repeat="education in employeeCv.educationIncrement track by $index">
			<aside class="c-resume__aside">
				<h3 class="c-resume__aside-subtitle">{{education.from | date: 'MMM yyyy'}} - {{education.to | date: 'MMM yyyy'}}</h3>
			</aside>

			<section class="c-resume__main">
				<ul class="c-resume-list c-resume-list--bullet c-resume-list--inline">

					<li class="c-resume-list__item" >
						<span class="c-resume-list__item-title">{{education.school}}</span>
						<span class="c-resume-list__item-subtitle">{{education.diploma}}</span>
						<span class="c-resume-list__item-subtitle">{{education.field}}</span>
					</li>
				</ul>
			</section>
		</div>

		</div>
		<!-- /ROW -->

	</section>


	<!-- RESUME SECTION COURSES -->
	<section class="c-resume__section">

		<!-- ROW -->
		<div class="c-resume__section-row">

			<h3 class="c-resume__row-title">Courses</h3>

			<div ng-repeat="course in employeeCv.courseIncrement track by $index">
			<aside class="c-resume__aside">
				<h3 class="c-resume__aside-subtitle">{{employeeCv.employeeCvData.coursesDate[$index] | date: 'MMM yyyy'}}</h3>
			</aside>

			<section class="c-resume__main">
				<ul class="c-resume-list c-resume-list--bullet c-resume-list--inline">

					<li class="c-resume-list__item" >
						<span class="c-resume-list__item-title">{{course.title}}</span>
						<span class="c-resume-list__item-subtitle">{{course.diploma}} at {{course.issue}}</span>
					</li>
				</ul>
			</section>
		</div>

		</div>
		<!-- /ROW -->

	</section>

<md-button id="print-hide" class="md-raised " ng-click="employeeCv.print('printable')">
            Print
          </md-button>
</section>
<!-- /RESUME -->




<!-- CV PAGE -->
<!-- <section class="">
	<section class="md-padding" id="printable">
		<md-content class="c-card-profile__preview">
			<div id="box-print">
				<div class="cv-left-side">
					<img src="../assets/images/europass-logo.png">
				</div>

				<div class="cv-right-side">
					<p class="cv-title">Curriculum Vitae</p>
					<span class="print-btn-hide">
          <md-button id="print-hide" class="md-raised " ng-click="employeeCv.print('printable')">
            Print
          </md-button>
        </span>
				</div>
			</div>
		</md-content> -->

		<!--  GENERAL INFO -->
		<!-- <md-content class="c-card-profile__preview">
			<div id="box-print">
				<div class="cv-left-side">
					<p>PERSONAL INFORMATION</p>
					<img ng-src="{{employeeCv.employeeCvData.picture}}" class="info-pic">
				</div>

				<div class="cv-right-side">
					<h3>
						{{employeeCv.employeeCvData.firstName}} {{employeeCv.employeeCvData.middleName}} {{employeeCv.employeeCvData.lastName}}
					</h3>

					<p> {{employeeCv.employeeCvData.address.adresa}} {{employeeCv.employeeCvData.address.zip}} {{employeeCv.employeeCvData.address.city}}
					</p>

					<p>{{employeeCv.employeeCvData.phone}}</p>
					<p>{{employeeCv.employeeCvData.emailAssist}}</p>
				</div>
			</div>
		</md-content> -->
		<!-- / GENERAL INFO -->

		<!--  WORK EXPERIENCE -->
<!-- 		<md-content class="c-card-profile__preview">
			<div id="box-print-hide">
				<div class="cv-left-side">
					<p>WORK EXPERIENCE</p>
				</div>

				<div class="cv-right-side">
					<span class="print-btn">
             <md-button class="md-raised" ng-click="employeeCv.hideJobs = !employeeCv.hideJobs" id="print-hide">
                hide/show
              </md-button>
          </span>
				</div>
			</div>
		</md-content>

		<md-content class="c-card-profile__preview" ng-repeat="job in employeeCv.createJob track by $index" ng-hide="employeeCv.hideJobs">
			<div id="box-print">
				<div class="cv-left-side">
					<p>
						{{job.startDate | date: 'dd/MMM/yyyy'}} - {{job.endDate | date: 'dd/MMM/yyyy'}}
					</p>
				</div>

				<div class="cv-right-side">
					<p>{{job.name}} at: {{job.emplName}}</p>
				</div>
			</div>
		</md-content> -->
		<!--  /WORK EXPERIENCE -->

		<!--  EDUCATION -->
<!-- 		<md-content class="c-card-profile__preview">
			<div id="box-print-hide">
				<div class="cv-left-side">
					<p>EDUCATION</p>
				</div>

				<div class="cv-right-side">
					<span class="print-btn">
           <md-button class="md-raised" ng-click="employeeCv.hideEducation = !employeeCv.hideEducation" id="print-hide">
             hide/show
           </md-button>
        </span>
				</div>
			</div>
		</md-content>

		<md-content class="c-card-profile__preview" ng-repeat="education in employeeCv.educationIncrement track by $index" ng-hide="employeeCv.hideEducation">
			<div id="box-print">
				<div class="cv-left-side">
					<p>
						{{education.from | date:'longDate'}} - {{education.to | date:'longDate'}}
					</p>
				</div>

				<div class="cv-right-side">
					<p>{{education.school}}</p>
					<p>{{education.diploma}}</p>
					<p>{{education.field}}</p>
				</div>
			</div>
		</md-content> -->
		<!--  /EDUCATION -->

		<!--  COURSES -->
		<!-- <md-content class="c-card-profile__preview" id="box-print">
			<div id="box-print-hide">
				<div class="cv-left-side">
					<p>COURSES</p>
				</div>

				<div class="cv-right-side">
					<span class="print-btn">
           <md-button class="md-raised " ng-click="employeeCv.hideCourses = !employeeCv.hideCourses" id="print-hide">
             hide/show
           </md-button>
        </span>
				</div>
			</div>
		</md-content>

		<md-content class="c-card-profile__preview" ng-repeat="course in employeeCv.courseIncrement track by $index" ng-hide="employeeCv.hideCourses"
			id="box-print">
			<div id="box-print">
				<div class="cv-left-side">
					<p>
						{{course.from | date:'longDate'}} - {{course.to | date:'longDate'}}
					</p>
				</div>

				<div class="cv-right-side">
					<p>Course: {{course.title}}</p>
					<p>Diploma: {{course.diploma}} at {{course.issue}}</p>
				</div>
			</div>
		</md-content> -->
		<!--  /COURSES -->

		<!--  LANGUAGE SKILLS -->
		<!-- <md-content class="c-card-profile__preview" id="box-print">
			<div id="box-print-hide">
				<div class="cv-left-side">
					<p>LANGUAGE SKILLS</p>
				</div>

				<div class="cv-right-side">
					<span class="print-btn">
           <md-button class="md-raised" ng-click="employeeCv.hideLanguage = !employeeCv.hideLanguage" id="print-hide">
             hide/show
           </md-button>
        </span>
				</div>
			</div>
		</md-content>

		<md-content class="c-card-profile__preview" ng-repeat="language in employeeCv.employeeCvData.languages track by $index" ng-hide="employeeCv.hideLanguage"
			id="box-print">
			<div id="box-print">
				<div class="cv-left-side">
					<p>{{language.language}}</p>

				</div>

				<div class="cv-right-side">
					<p>{{language.level}}</p>
				</div>
			</div>
		</md-content> -->
		<!-- /LANGUAGE SKILLS -->

		<!--  PERSONAL SKILLS -->
		<!-- <md-content class="c-card-profile__preview" id="box-print">
			<div id="box-print-hide">
				<div class="cv-left-side">
					<p>PERSONAL SKILLS</p>
				</div>

				<div class="cv-right-side">
					<span class="print-btn">
           <md-button class="md-raised" ng-click="employeeCv.hideSkill = !employeeCv.hideSkill" id="print-hide">
             hide/show
           </md-button>
        </span>
				</div>
			</div>
		</md-content>

		<md-content class="c-card-profile__preview" ng-hide="employeeCv.hideSkill" id="box-print">
			<div id="box-print">
				<div class="cv-left-side">
				</div>

				<div class="cv-right-side">
					<span ng-repeat="skill in employeeCv.employeeCvData.skills track by $index">{{skill.label}} |
        </span>
				</div>
			</div>
		</md-content> -->
		<!--  /PERSONAL SKILLS -->

<!-- 	</section>
</section> -->
<!--  END CV PAGE -->
