<section layout="column" md-whiteframe = '6'>



  <!-- TITLE -->
  <md-toolbar
    class="md-table-toolbar md-default"
    layout="row"
    layout-align="space-between center">
    <div class="md-toolbar-tools">

      <div class="md-title">

        <span>Departments</span>

      </div>

      <div flex="" class="flex"></div>


      <div layout="row" layout-align="right">

        <md-button
          md-no-ink
          class="md-primary"
          ng-click="departments.showForm()">
            Add
        </md-button>

        <md-button
          ng-click="departments.saveExcelFile()"
          class="md-primary">
          <md-icon class="material-icons">file_download</md-icon>
          <md-tooltip md-autohide="true">
            Export Excel
          </md-tooltip>
          Export Excel
        </md-button>

      </div>


    </div>
  </md-toolbar>
  <!-- /TITLE -->




  <md-divider class="md-padding divider-bold u-no-padding"></md-divider>

  <!-- AUTOCOMPLETE SEARCH -->
  <md-content class="md-padding">

      <md-autocomplete
        ng-model="departments.searchText"
        md-search-text-change="departments.querySearch(departments.searchText, departments.departments)"
        md-search-text="departments.searchText"
        md-items="item in departments.querySearch(departments.searchText, departments.departments)"
        md-item-text="item.name"
        md-min-length="0"
        placeholder="Search for a Department">

        <md-item-template>
          <span class="item-metadata">
            {{ item.name }}
          </span>
        </md-item-template>

      </md-autocomplete>

  </md-content>
  <!-- /AUTOCOMPLETE SEARCH -->



  <!-- SELECTED ROWS -->
  <md-toolbar
    class="md-table-toolbar alternate"
    ng-show="departments.tableSettings.options.rowSelection && departments.tableSettings.selected.length">
    <div class="md-toolbar-tools">
      <span>
        {{departments.tableSettings.selected.length}} {{departments.tableSettings.selected.length > 1 ? 'Departments' : 'Department'}} selected
      </span>
    </div>
  </md-toolbar>
  <!-- /SELECTED ROWS -->

  <md-divider class="md-padding divider-bold u-no-padding"></md-divider>




  <!-- TABLE departments -->
  <md-table-container>
    <table
      class="c-table--actions"
      md-table
      md-row-select="departments.tableSettings.options.rowSelection"
      multiple="{{departments.tableSettings.options.multiSelect}}"
      ng-model="departments.tableSettings.selected"
      md-progress="promise">

      <thead
        ng-if="!departments.tableSettings.options.decapitate"
        md-head
        md-order="departments.tableSettings.query.order">
        <tr md-row>
          <th md-column>NR</th>
          <th md-column md-order-by="name">Name</th>
          <th md-column>Functional Manager</th>
          <th md-column>Actions</th>
        </tr>
      </thead>

      <tbody md-body>
        <tr
        md-row
        md-select="department"
        md-on-select="logItem"
        md-auto-select="departments.tableSettings.options.autoSelect"
        ng-repeat="department in departments.querySearch(departments.searchText, departments.departments) | orderBy: departments.tableSettings.query.order | limitTo: departments.tableSettings.query.limit : (departments.tableSettings.query.page -1) * departments.tableSettings.query.limit">

          <td md-cell>{{$index + 1}}</td>

          <td md-cell>{{department.name}}</td>

          <td md-cell>{{department.functional_manager}}</td>

          <!-- <td md-cell>
            <ul class="c-list" ng-if="department.holders">
              <li ng-repeat="employee in department.holders">

                {{$index + 1}}. {{department.employee}}
              </li>
            </ul>
          </td> -->

          <td md-cell>

            <md-button
              class="md-icon-button md-primary"
              label="Update department"
              aria-label="Update department"
              ng-click="departments.showForm(department)">
                <md-icon class="material-icons">create</md-icon>
                <md-tooltip md-autohide="true">
                  Update department
                </md-tooltip>
              </md-button>

            <md-button
              class="md-icon-button md-warn"
              label="Remove department"
              aria-label="Remove department"
              ng-click="departments.remove(department, $event)">
              <md-icon class="material-icons">delete</md-icon>
              <md-tooltip md-autohide="true">
                Remove department
              </md-tooltip>
            </md-button>

          </td>

        </tr>
      </tbody>

    </table>
  </md-table-container>
  <!-- TABLE departments -->




  <!-- TABLE PAGINATION -->
  <hra-table-pagination settings="departments.tableSettings">
  <hra-table-pagination>
    <!-- TABLE PAGINATION -->






</section>
