<!-- CARD OBSERVATION -->
<md-card>





  <!-- CARD TITLE -->
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Observations</span>
    </md-card-title-text>
  </md-card-title><!-- CARD TITLE -->





  <!-- CARD NOTES -->
  <md-content class="c-card-profile__notes">
    <p>
      <strong>NOTE: </strong>Complete here with some observation that you think administration should know.
    </p>
  </md-content> <!-- CARD NOTES -->





  <!-- CARD PREVIEW -->
  <md-content
    ng-show="observations.disableObservations"
    class="c-card-profile__preview">
    <p>{{observations.employee.observations}}</p>
  </md-content><!-- /CARD PREVIEW -->





  <!-- CARD FORM -->
  <md-content
    class="md-padding"
    ng-hide="observations.disableObservations">
    <md-input-container md-no-float class="input-text">
      <label>Observations</label>
      <textarea
        aria-label="observations"
        name="observations"
        ng-model="observations.employee.observations">
      </textarea>
    </md-input-container>
  </md-content><!-- /CARD FORM -->





  <!-- CARD ACTIONS-->
  <md-card-actions
    layout="column"
    layout-align="start"
    ng-show="observations.disableObservations">
    <md-button
      class="c-card-profile__btn no-margin"
      ng-click="observations.disableObservations=false; observations.toggleCard($event, 'open')">
      Add/Edit observations
    </md-button>
  </md-card-actions>

  <md-card-actions
    layout="row"
    layout-align="center center"
    ng-show="!observations.disableObservations"
    class="additional">

    <md-button
      class="md-raised md-primary"
      ng-click="observations.saveEmployee(observations.employee); observations.toggleCard($event, 'close')"
      ng-disabled="btnIsDisabled">
      Save
    </md-button>

    <md-button
      class="md-raised"
      ng-click="observations.cancelAdd(); observations.toggleCard($event, 'close')">
      Cancel
    </md-button>

  </md-card-actions><!-- /CARD ACTIONS-->





</md-card><!-- CARD OBSERVATION -->
