<!-- CARD COURSES -->
<md-card>





  <!-- CARD TITLE -->
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Courses and Certifications</span>
    </md-card-title-text>
  </md-card-title>
  <!-- CARD TITLE -->






  <!-- CARD NOTES -->
  <md-content class="c-card-profile__notes">
    <p>
      <strong>NOTE: </strong>Complete here with your courses and certifications experience.
    </p>
  </md-content> 
  <!-- CARD NOTES -->






  <!-- PREVIEW COURSES -->
  <md-content
    ng-show="!employeeCourse.showForm"
    class="c-card-profile__preview">
    <md-list layout="row" layout-wrap>
      <md-list-item
        flex="50"
        class="md-3-line"
        ng-repeat="course in employeeCourse.userCertificationList track by $index">

        <div class="md-list-item-text" layout="column">
          <h3><strong>Diploma: </strong>{{course.name}}</h3>
          <h4><strong>Authority: </strong>{{course.authority}}</h4>
          <p><strong>at </strong>{{course.year | date: 'longDate'}} </p>
        </div>

      </md-list-item>
    </md-list>
  </md-content>
  <!--/PREVIEW COURSES -->





  <!-- FORM COURSES -->
  <md-content
    ng-show="employeeCourse.showForm"
    class="md-padding">

    <!-- CARD GROUP -->
    <section
      ng-repeat="education in employeeCourse.userCertificationList track by $index"
      layout='column'
      class="md-padding c-card-group">





      <md-button
        class="md-fab md-mini md-warn c-card-group__remove"
        ng-click="employeeCourse.removeCourse($index, $event)">
        <md-icon class="material-icons">delete</md-icon>
        <md-tooltip>Remove Course</md-tooltip>
      </md-button>





      <!-- DIPLOMA -->
      <section layout='row'>
        <md-input-container md-no-float class="md-block" flex-gt-xs="">
          <label>Diploma</label>
          <input
            ng-model="employeeCourse.userCertificationList[$index].name">
        </md-input-container>
      </section>
      <!-- /DIPLOMA -->





      <!-- AUTHORITY -->
      <section layout='row'>
        <md-input-container md-no-float class="md-block" flex-gt-xs="">
          <label>Issuing authority</label>
          <input
            ng-model="employeeCourse.userCertificationList[$index].authority">
        </md-input-container>
      </section>
      <!-- /AUTHORITY -->




      <!-- LICENCE NO -->
      <section layout='row'>
        <md-input-container md-no-float class="md-block" flex-gt-xs="">
          <label>Licence number</label>
          <input
            ng-model="employeeCourse.userCertificationList[$index].licence_number">
        </md-input-container>
      </section>
      <!-- /LICENCE NO -->




      <!-- PERIOD -->
      <section layout-gt-xs="row" layout-align="left left" class="u-mb-20">
          
        <div flex-gt-xs="50">
          <label class="u-ml-5">Date</label>
          <md-datepicker
            ng-model="employeeCourse.userCertificationList[$index].year"
            md-placeholder="Pick date"
            name="year-{{$index}}"
            md-open-on-focus
            md-max-date="employeeCourse.today"
            required>
          </md-datepicker>
        </div>

      </section>
      <!-- /PERIOD -->


    </section>
    <!-- /CARD GROUP -->


    <section class="md-padding">
      <md-button
        md-no-ink
        class="md-primary small-text"
        ng-click="employeeCourse.addNewCourse()">
        Add New Course
      </md-button>
    </section>

  </md-content>
  <!-- /FORM COURSES -->





  <!-- CARD ACTIONS -->
  <md-card-actions
    layout="column"
    layout-align="start"
    ng-show="!employeeCourse.showForm">
    <md-button
      class="c-card-profile__btn no-margin"
      ng-click="employeeCourse.toggleForm()"
      ng-disabled="btnIsDisabled"
      ng-show="!employeeCourse.showForm">
      Add courses
    </md-button>
  </md-card-actions>

  <md-card-actions
    layout="row"
    layout-align="center center"
    ng-show="employeeCourse.showForm"
    class="additional">

    <md-button
      class="md-raised md-primary"
      ng-click="employeeCourse.save()">
      Save
    </md-button>

    <md-button
      class="md-raised"
      ng-click="employeeCourse.cancel()">
      Cancel
    </md-button>

  </md-card-actions>
  <!-- /CARD ACTIONS -->





</md-card>
<!-- /CARD COURSES -->
