<div class="c-date-select-container">

  <md-select
    class="c-date-select c-date-select--day"
    ng-model="val.date"
    aria-label="day"
    placeholder="Day">
    <md-option ng-repeat="day in dates" ng-value="day">
     {{ day }}
    </md-option>
  </md-select>

  <md-select
    class="c-date-select  c-date-select--month"
    ng-model="val.month"
    aria-label="month"
    placeholder="Month">
    <md-option ng-repeat="month in months" ng-value="month.value">
     {{ month.name }}
    </md-option>
  </md-select>

  <md-select
    class="c-date-select c-date-select--year"
    ng-model="val.year"
    aria-label="year"
    placeholder="Year">
    <md-option ng-repeat="year in years" ng-value="year">
     {{ year }}
    </md-option>
  </md-select>

</div>
