<md-toolbar class="md-table-toolbar">
  <div class="md-toolbar-tools ">
    Extra Form
  </div>
</md-toolbar>




<!-- FORM EXTRA -->
<form class="form" name=extraform>




  <!-- NAME -->
  <div layout-gt-xs="row" class="md-padding">

    <md-input-container md-no-float class="md-block" flex-gt-xs>
      <label>Name</label>
      <input
      type="text"
      name="name"
      ng-model="extraForm.extra.name"
      required>
    </md-input-container>

  </div><!-- /NAME -->


  <!-- LABEL -->
  <div layout-gt-xs="row" class="md-padding" ng-show="{{extraForm.extratype !== 'customers'}}">

    <md-input-container md-no-float class="md-block" flex-gt-xs>
      <label>Label</label>
      <input
      type="text"
      name="description"
      ng-model="extraForm.extra.label"
      required>
    </md-input-container>

  </div><!-- LABEL -->



  <!-- ACTIONS -->
  <div layout="row" layout-align="center center">

    <md-button
      class="md-raised md-primary" ng-click="extraForm.saveButton()">
      Save
    </md-button>

    <md-button
      class="md-raised md-primary" ng-click="extraForm.clearButton()">
      Clear
    </md-button>

    <md-button
      class="md-raised" ng-click="extraForm.closeButton()">
      Close
    </md-button>

  </div><!-- ACTIONS -->




</form><!-- FORM EXTRA -->
